# E-satisfaction Assignment

In [2492]:
import pandas as pd
import numpy as np

In [2493]:
df_sm1_jul = pd.read_excel(r"SM1 - Responses - Jul - Cleaned.xlsx",  sheet_name='SM1 - Responses - Jul - Cleaned')
df_sm1_oct = pd.read_excel(r"SM1 - Responses - Oct - Cleaned.xlsx",  sheet_name='SM1 - Responses - Oct - Cleaned')
df_sm2_jul = pd.read_excel(r"SM2 - Responses - Jul - Cleaned.xlsx",  sheet_name='SM2 - Responses - Jul - Cleaned')
df_sm2_oct = pd.read_excel(r"SM2 - Responses - Oct - Cleaned.xlsx",  sheet_name='SM2 - Responses - Oct - Cleaned')

df_te1_jul = pd.read_excel(r"Tech 1 - Responses - Jul - Cleaned.xlsx",  sheet_name='Tech 1 - Responses - Jul - Clea')
df_te1_oct = pd.read_excel(r"Tech 1 - Responses - Oct Cleaned.xlsx",  sheet_name='Tech 1 - Responses - Oct Cleane')

df_te2_jul = pd.read_excel(r"Tech 2 - Responses - Jul - Cleaned.xlsx",  sheet_name='Tech 2 - Responses - Jul - Clea')
df_te2_oct = pd.read_excel(r"Tech 2 - Responses - Oct - Cleaned.xlsx",  sheet_name='Tech 2 - Responses - Oct - Clea')

In [2494]:
quest = pd.read_excel(r"Questions.xlsx",  sheet_name='Question Titles')

# First Super Market

## Data Preparation

### Titles
Here we can see that the titles of the questions were not included in the Sheet that we are working on. In order to have the question_ids along with the titles, we need to merge the two Sheets.

In [2495]:
df_sm1_jul = pd.merge(df_sm1_jul, 
               quest[['question_id', 'title']], 
               on='question_id', 
               how='inner')
df_sm1_oct = pd.merge(df_sm1_oct, 
               quest[['question_id', 'title']], 
               on='question_id', 
               how='inner')

In [2496]:
df_s1_jul = pd.DataFrame({'instance_id': []})
df_s1_oct = pd.DataFrame({'instance_id': []})

### Table for Classification
Here we are transforming the dataframe so that it has in the correct form that can be used for the classification. Each question is represented by a column and each row represents a customer that answered the questionnaire given by 'E-satisfaction'.

In [2497]:
df_s1_jul['instance_id'] = df_sm1_jul['instance_id'].unique().tolist()
df_s1_oct['instance_id'] = df_sm1_oct['instance_id'].unique().tolist()

In [2498]:
def format_table(df,df1, question, col_name):
    df_filtered = df[df['question_id'].isin([question])]
    df1 = pd.merge(df1, 
               df_filtered[['instance_id', 'value_extended']], 
               on='instance_id', 
               how='inner')
    
    df1.rename(columns={"value_extended": col_name}, inplace = True)
        
    return df1

### Removing duplicates
Some customers have answered the exact same question twice accidentally. Those people are removed from the dataframe.

In [2499]:
def drop_dup(df):
    df1 = df.drop(columns = ['response_id'])
    df1.drop_duplicates(inplace = True)
    return df1

In [2500]:
df_sm1_jul = drop_dup(df_sm1_jul)
df_sm1_oct = drop_dup(df_sm1_oct)

#### E-shop Satisfaction

In [2501]:
df_s1_jul = format_table(df_sm1_jul, df_s1_jul, 'SePDCk8UQHOyRsQpZ9IKVw', "eshop_sat")
df_s1_oct = format_table(df_sm1_oct, df_s1_oct, 'SePDCk8UQHOyRsQpZ9IKVw', "eshop_sat")

In [2502]:
df_s1_jul['instance_id'].unique().size

5289

#### E-shop Expectations

In [2503]:
df_s1_jul = format_table(df_sm1_jul, df_s1_jul, 'ISUA0kTBafGOAiCmrzLw', "eshop_exp")
df_s1_oct = format_table(df_sm1_oct, df_s1_oct, 'ISUA0kTBafGOAiCmrzLw', "eshop_exp")

In [2504]:
df_s1_jul['instance_id'].unique().size

5006

#### Overall Service

In [2505]:
df_s1_jul = format_table(df_sm1_jul, df_s1_jul, 'IEdUxQf9SJ259VLq9OvMkg', "service")
df_s1_oct = format_table(df_sm1_oct, df_s1_oct, 'IEdUxQf9SJ259VLq9OvMkg', "service")

In [2506]:
df_s1_jul['instance_id'].unique().size

4966

#### Shipping Time

In [2507]:
df_s1_jul = format_table(df_sm1_jul, df_s1_jul, 'JehnUw9UQeiq1UxC854MA', "ship_time")
df_s1_oct = format_table(df_sm1_oct, df_s1_oct, 'JehnUw9UQeiq1UxC854MA', "ship_time")

In [2508]:
df_s1_jul['instance_id'].unique().size

4943

#### Condition

In [2509]:
df_s1_jul = format_table(df_sm1_jul, df_s1_jul, 'sM0oPo2yR529Iux1leJ6Mg', "condition")
df_s1_oct = format_table(df_sm1_oct, df_s1_oct, 'sM0oPo2yR529Iux1leJ6Mg', "condition")

#### Packaging

In [2510]:
df_s1_jul = format_table(df_sm1_jul, df_s1_jul, 'Y6lB3rzGSgSC7P0Lrs4KXg', "packaging")
df_s1_oct = format_table(df_sm1_oct, df_s1_oct, 'Y6lB3rzGSgSC7P0Lrs4KXg', "packaging")

#### Repurchase : The column used for the Classification

In [2511]:
df_s1_jul = format_table(df_sm1_jul, df_s1_jul, 'rIJRiMxmSU6gmwVEjiPYrQ', "repurchase")
df_s1_jul.loc[df_s1_jul['repurchase'] == 1, 'repurchase'] = 1
df_s1_jul.loc[df_s1_jul['repurchase'] == 2, 'repurchase'] = 0

df_s1_oct = format_table(df_sm1_oct, df_s1_oct, 'rIJRiMxmSU6gmwVEjiPYrQ', "repurchase")
df_s1_oct.loc[df_s1_oct['repurchase'] == 1, 'repurchase'] = 1
df_s1_oct.loc[df_s1_oct['repurchase'] == 2, 'repurchase'] = 0

#### Submitted Time 
Insert the date and the time that the questionnaire of each customer was submitted.

In [2512]:
def merge_subtime(df1, df2):
    df1 = pd.merge(df1, 
               df2[['instance_id', 'submitted_time']], 
               on='instance_id', 
               how='inner')
    df1.drop_duplicates(inplace = True)
    return df1

In [2513]:
df_s1_jul = merge_subtime(df_s1_jul, df_sm1_jul)
df_s1_oct = merge_subtime(df_s1_oct, df_sm1_oct)

In [2514]:
df_s1_jul['instance_id'].unique().size

4803

### Changing Data Types
We need to create a function where all the columns' data types are int and not object, **except for the 'instance_id'** column. 
This will help us with the data exploration later.

In [2515]:
def change_dtype(df):
    for i in df.columns:
        if (i != 'instance_id'):
            if (i != 'submitted_time'):
                df[i] = df[i].astype(str).astype(int)
    
    return df

In [2516]:
df_s1_jul = change_dtype(df_s1_jul)
df_s1_oct = change_dtype(df_s1_oct)

### Change Submitted Time
We are seperating the date from the time because only the date will be useful in our case.

In [2517]:
def change_subtime(df):
    df['date']= df['submitted_time'].apply(lambda x:x.date())
    
    df.drop(columns = 'submitted_time', inplace = True)
    return df

In [2518]:
df_s1_jul = change_subtime(df_s1_jul)
df_s1_oct = change_subtime(df_s1_oct)

In [2519]:
df_s1_jul.dtypes

instance_id    object
eshop_sat       int32
eshop_exp       int32
service         int32
ship_time       int32
condition       int32
packaging       int32
repurchase      int32
date           object
dtype: object

In [2520]:
df_sm1_oct['instance_id'].unique().size

11620

In [2521]:
df_s1_oct['instance_id'].unique().size

10419

## Second Super Market

### Note!
We removed specific columns that will not be used blahblah

In [2522]:
df_sm2_jul = pd.merge(df_sm2_jul, 
               quest[['question_id', 'title']], 
               on='question_id', 
               how='inner')
df_sm2_oct = pd.merge(df_sm2_oct, 
               quest[['question_id', 'title']], 
               on='question_id', 
               how='inner')

In [2523]:
df_s2_jul = pd.DataFrame({'instance_id': []})
df_s2_oct = pd.DataFrame({'instance_id': []})

In [2524]:
df_s2_jul['instance_id'] = df_sm2_jul['instance_id'].unique().tolist()
df_s2_oct['instance_id'] = df_sm2_oct['instance_id'].unique().tolist()

#### E-shop Satisfaction

In [2525]:
df_s2_jul = format_table(df_sm2_jul, df_s2_jul, 'NTE8Q1pEQOWMpa3rsC5zg', "eshop_sat")
df_s2_oct = format_table(df_sm2_oct, df_s2_oct, 'NTE8Q1pEQOWMpa3rsC5zg', "eshop_sat")

#### Packaging

In [2526]:
df_s2_jul = format_table(df_sm2_jul, df_s2_jul, '2nW1tqDQSd5hfxgZagKg', "packaging")
df_s2_oct = format_table(df_sm2_oct, df_s2_oct, '2nW1tqDQSd5hfxgZagKg', "packaging")

#### Overall Service

In [2527]:
df_s2_jul = format_table(df_sm2_jul, df_s2_jul, 'iKHI5AHTR60LjBy3Ulgg', "service")
df_s2_oct = format_table(df_sm2_oct, df_s2_oct, 'iKHI5AHTR60LjBy3Ulgg', "service")

#### Shipping Time

In [2528]:
df_s2_jul = format_table(df_sm2_jul, df_s2_jul, 'sxXTo088TqCnu3mHcyVohw', "ship_time")
df_s2_oct = format_table(df_sm2_oct, df_s2_oct, 'sxXTo088TqCnu3mHcyVohw', "ship_time")

#### Condition

In [2529]:
df_s2_jul = format_table(df_sm2_jul, df_s2_jul, 'vDMjE7qQvmxLxva2JXYw', "condition")
df_s2_oct = format_table(df_sm2_oct, df_s2_oct, 'vDMjE7qQvmxLxva2JXYw', "condition")

#### E-shop Expectations

In [2530]:
df_s2_jul = format_table(df_sm2_jul, df_s2_jul, 'nY7OZYOUTxesdCDyFAP3Uw', "eshop_exp")
df_s2_oct = format_table(df_sm2_oct, df_s2_oct, 'nY7OZYOUTxesdCDyFAP3Uw', "eshop_exp")

#### Repurchase : The column used for Classification

In [2531]:
df_s2_jul = format_table(df_sm2_jul, df_s2_jul, 'VaKFVyj4QqCuLzl615jeEg', "repurchase")
df_s2_jul.loc[df_s2_jul['repurchase'] == 1, 'repurchase'] = 1
df_s2_jul.loc[df_s2_jul['repurchase'] == 2, 'repurchase'] = 0

df_s2_oct = format_table(df_sm2_oct, df_s2_oct, 'VaKFVyj4QqCuLzl615jeEg', "repurchase")
df_s2_oct.loc[df_s2_oct['repurchase'] == 1, 'repurchase'] = 1
df_s2_oct.loc[df_s2_oct['repurchase'] == 2, 'repurchase'] = 0

#### Submitted Time

In [2532]:
df_s2_jul = merge_subtime(df_s2_jul, df_sm2_jul)
df_s2_oct = merge_subtime(df_s2_oct, df_sm2_oct)

In [2533]:
df_s2_jul.dtypes

instance_id               object
eshop_sat                 object
packaging                 object
service                   object
ship_time                 object
condition                 object
eshop_exp                 object
repurchase                object
submitted_time    datetime64[ns]
dtype: object

### Change Types

In [2534]:
df_s2_jul = change_dtype(df_s2_jul)
df_s2_oct = change_dtype(df_s2_oct)

### Change Submitted Time

In [2535]:
df_s2_jul = change_subtime(df_s2_jul)
df_s2_oct = change_subtime(df_s2_oct)

## First Tech Store
blahblah we removed blahblah

In [2536]:
df_te1_jul = pd.merge(df_te1_jul, 
               quest[['question_id', 'title']], 
               on='question_id', 
               how='inner')
df_te1_oct = pd.merge(df_te1_oct, 
               quest[['question_id', 'title']], 
               on='question_id', 
               how='inner')

### Remove duplicate rows

In [2537]:
df_te1_jul = drop_dup(df_te1_jul)
df_te1_oct = drop_dup(df_te1_oct)

## Both types of customers together

In [2538]:
df_t1_july = pd.DataFrame({'instance_id': []})
df_t1_july['instance_id'] = df_te1_jul['instance_id'].unique().tolist()

df_t1_octob = pd.DataFrame({'instance_id': []})
df_t1_octob['instance_id'] = df_te1_oct['instance_id'].unique().tolist()

In [2539]:
def rename_dup_quests(df, q1, q2):
    df.loc[df['question_id'].isin([q2]), 'question_id'] = q1
    return df

In [2540]:
def drop_dup_qs(df):
    df1 = df.drop_duplicates(subset=['instance_id', 'question_id'], keep='last')
    return df1

#### Price

In [2541]:
df_te1_july = rename_dup_quests(df_te1_jul, 'ASQmXOaRcKxw36ujvIrw', 'idhnVIsQgKdecMDyvdiGg')
df_te1_octob = rename_dup_quests(df_te1_oct, 'ASQmXOaRcKxw36ujvIrw', 'idhnVIsQgKdecMDyvdiGg')

In [2542]:
df_te1_july = drop_dup_qs(df_te1_july)
df_te1_octob = drop_dup_qs(df_te1_octob)

In [2543]:
df_t1_july = format_table(df_te1_july, df_t1_july, 'ASQmXOaRcKxw36ujvIrw', "price")
df_t1_octob = format_table(df_te1_octob, df_t1_octob, 'ASQmXOaRcKxw36ujvIrw', "price")

#### Reliability

In [2544]:
df_te1_july = rename_dup_quests(df_te1_jul, 'BHAH0NEURiijJa9ZGkmPzw', 'NEW7ZYCRL6sCLLDOfDBOg')
df_te1_octob = rename_dup_quests(df_te1_oct, 'BHAH0NEURiijJa9ZGkmPzw', 'NEW7ZYCRL6sCLLDOfDBOg')

In [2545]:
df_te1_july = drop_dup_qs(df_te1_july)
df_te1_octob = drop_dup_qs(df_te1_octob)

In [2546]:
df_t1_july = format_table(df_te1_july, df_t1_july, 'BHAH0NEURiijJa9ZGkmPzw', "reliability")
df_t1_octob = format_table(df_te1_octob, df_t1_octob, 'BHAH0NEURiijJa9ZGkmPzw', "reliability")

#### Overall service

In [2547]:
df_te1_july = rename_dup_quests(df_te1_jul, 'cuTJUy4iRJuMM4yABB1pw', 'fjSolZniR0uGrEPFEzEzvw')
df_te1_octob = rename_dup_quests(df_te1_oct, 'cuTJUy4iRJuMM4yABB1pw', 'fjSolZniR0uGrEPFEzEzvw')

In [2548]:
df_te1_july = drop_dup_qs(df_te1_july)
df_te1_octob = drop_dup_qs(df_te1_octob)

In [2549]:
df_t1_july = format_table(df_te1_july, df_t1_july, 'cuTJUy4iRJuMM4yABB1pw', "service")
df_t1_octob = format_table(df_te1_octob, df_t1_octob, 'cuTJUy4iRJuMM4yABB1pw', "service")

#### Variety

In [2550]:
df_te1_july = rename_dup_quests(df_te1_jul, 'dYVPE7izTlCEmR6I884wg', 'Th96ZdTVyPUrkSJNM9qw')
df_te1_octob = rename_dup_quests(df_te1_oct, 'dYVPE7izTlCEmR6I884wg', 'Th96ZdTVyPUrkSJNM9qw')

In [2551]:
df_te1_july = drop_dup_qs(df_te1_july)
df_te1_octob = drop_dup_qs(df_te1_octob)

In [2552]:
df_t1_july = format_table(df_te1_july, df_t1_july, 'dYVPE7izTlCEmR6I884wg', "variety")
df_t1_octob = format_table(df_te1_octob, df_t1_octob, 'dYVPE7izTlCEmR6I884wg', "variety")

#### Payment Methods

In [2553]:
df_te1_july = rename_dup_quests(df_te1_jul, 'hbzr2wplToGcDTKNQfppmg', 'yCWUviavRdWiq33ngyxoSQ')
df_te1_octob = rename_dup_quests(df_te1_oct, 'hbzr2wplToGcDTKNQfppmg', 'yCWUviavRdWiq33ngyxoSQ')

In [2554]:
df_te1_july = drop_dup_qs(df_te1_july)
df_te1_octob = drop_dup_qs(df_te1_octob)

In [2555]:
df_t1_july = format_table(df_te1_july, df_t1_july, 'hbzr2wplToGcDTKNQfppmg', "pay_meth")
df_t1_octob = format_table(df_te1_octob, df_t1_octob, 'hbzr2wplToGcDTKNQfppmg', "pay_meth")

#### Website Functionality

In [2556]:
df_te1_july = rename_dup_quests(df_te1_jul, 'yxKokviKRTao7lA3IebPpw', 'JOKZHXX4Tu2BxLnpOkhjyA')
df_te1_octob = rename_dup_quests(df_te1_oct, 'yxKokviKRTao7lA3IebPpw', 'JOKZHXX4Tu2BxLnpOkhjyA')

In [2557]:
df_te1_july = drop_dup_qs(df_te1_july)
df_te1_octob = drop_dup_qs(df_te1_octob)

In [2558]:
df_t1_july = format_table(df_te1_july, df_t1_july, 'yxKokviKRTao7lA3IebPpw', "web_func")
df_t1_octob = format_table(df_te1_octob, df_t1_octob, 'yxKokviKRTao7lA3IebPpw', "web_func")

#### Product Availability

In [2559]:
df_te1_july = rename_dup_quests(df_te1_jul, 'ZiJxXOH2RbSAlED69W3ZQw', 'kG08XetAQtCZwtbiMozYRQ')
df_te1_octob = rename_dup_quests(df_te1_oct, 'ZiJxXOH2RbSAlED69W3ZQw', 'kG08XetAQtCZwtbiMozYRQ')

In [2560]:
df_te1_july = drop_dup_qs(df_te1_july)
df_te1_octob = drop_dup_qs(df_te1_octob)

In [2561]:
df_t1_july = format_table(df_te1_july, df_t1_july, 'ZiJxXOH2RbSAlED69W3ZQw', "prod_avail")
df_t1_octob = format_table(df_te1_octob, df_t1_octob, 'ZiJxXOH2RbSAlED69W3ZQw', "prod_avail")

#### Repurchase

In [2562]:
df_t1_july = format_table(df_te1_july, df_t1_july, 'LTJuB4wzQ7lB3wTI4uHjA', "repurchase")
df_t1_july.loc[df_t1_july['repurchase'] == 1, 'repurchase'] = 1
df_t1_july.loc[df_t1_july['repurchase'] == 2, 'repurchase'] = 0

df_t1_octob = format_table(df_te1_octob, df_t1_octob, 'LTJuB4wzQ7lB3wTI4uHjA', "repurchase")
df_t1_octob.loc[df_t1_octob['repurchase'] == 1, 'repurchase'] = 1
df_t1_octob.loc[df_t1_octob['repurchase'] == 2, 'repurchase'] = 0

#### Submitted time merge

In [2563]:
df_t1_july = merge_subtime(df_t1_july, df_te1_july)

df_t1_octob = merge_subtime(df_t1_octob, df_te1_octob)

#### Change data type

In [2564]:
df_t1_july = change_dtype(df_t1_july)

df_t1_octob = change_dtype(df_t1_octob)

#### Change submitted time

In [2565]:
df_t1_july = change_subtime(df_t1_july)

df_t1_octob = change_subtime(df_t1_octob)

## Separate Customers 
We are creating two different dataframes for each store and each trimester **depending on whether they have received their order or not**.

In [2566]:
def separate_cust(df, question_id, value):
    df1= df.loc[(df['question_id'].isin([question_id])) & (df['value_extended'] == value)]
    list_cust = df1['instance_id'].unique().tolist()
    print(df1.dtypes)
    df1 = df[df['instance_id'].isin(list_cust)]
    return df1

In [2567]:
df_t1_j1 = separate_cust(df_te1_jul, 'bIlWtVMSTkq8JVNi1Gfe8Q', 1)
df_t1_j2 = separate_cust(df_te1_jul, 'bIlWtVMSTkq8JVNi1Gfe8Q', 2)

df_t1_o1 = separate_cust(df_te1_oct, 'bIlWtVMSTkq8JVNi1Gfe8Q', 1)
df_t1_o2 = separate_cust(df_te1_oct, 'bIlWtVMSTkq8JVNi1Gfe8Q', 2)

instance_id                 object
submitted_time      datetime64[ns]
questionnaire_id            object
question_id                 object
value_extended              object
title                       object
dtype: object
instance_id                 object
submitted_time      datetime64[ns]
questionnaire_id            object
question_id                 object
value_extended              object
title                       object
dtype: object
instance_id         object
submitted_time      object
questionnaire_id    object
question_id         object
value_extended      object
Unnamed: 6          object
Unnamed: 7          object
Unnamed: 8          object
Unnamed: 9          object
Unnamed: 10         object
Unnamed: 11         object
Unnamed: 12         object
Unnamed: 13         object
Unnamed: 14         object
Unnamed: 15         object
Unnamed: 16         object
title               object
dtype: object
instance_id         object
submitted_time      object
questionnaire_id    object
question_id         object
value_extended      object
Unnamed: 6          object
Unnamed: 7          object
Unnamed: 8          object
Unnamed: 9          object
Unnamed: 10         object
Unnamed: 11         object
Unnamed: 12         object
Unnamed: 13         object
Unnamed: 14         object
Unnamed: 15         object
Unnamed: 16         object
title               object
dtype: object

### Create Tables

In [2568]:
df_t1_jul1 = pd.DataFrame({'instance_id': []})
df_t1_jul2 = pd.DataFrame({'instance_id': []})

df_t1_oct1 = pd.DataFrame({'instance_id': []})
df_t1_oct2 = pd.DataFrame({'instance_id': []})

df_t1_jul1['instance_id'] = df_t1_j1['instance_id'].unique().tolist()
df_t1_jul2['instance_id'] = df_t1_j2['instance_id'].unique().tolist()

df_t1_oct1['instance_id'] = df_t1_o1['instance_id'].unique().tolist()
df_t1_oct2['instance_id'] = df_t1_o2['instance_id'].unique().tolist()

#### Price

In [2569]:
df_t1_jul1 = format_table(df_t1_j1, df_t1_jul1, 'ASQmXOaRcKxw36ujvIrw', "price")
df_t1_jul2 = format_table(df_t1_j2, df_t1_jul2, 'ASQmXOaRcKxw36ujvIrw', "price")

df_t1_oct1 = format_table(df_t1_o1, df_t1_oct1, 'ASQmXOaRcKxw36ujvIrw',"price")
df_t1_oct2 = format_table(df_t1_o2, df_t1_oct2, 'ASQmXOaRcKxw36ujvIrw', "price")

#### Reliability

In [2570]:
df_t1_jul1 = format_table(df_t1_j1, df_t1_jul1, 'BHAH0NEURiijJa9ZGkmPzw', "reliability")
df_t1_jul2 = format_table(df_t1_j2, df_t1_jul2, 'BHAH0NEURiijJa9ZGkmPzw', "reliability")

df_t1_oct1 = format_table(df_t1_o1, df_t1_oct1, 'BHAH0NEURiijJa9ZGkmPzw',"reliability")
df_t1_oct2 = format_table(df_t1_o2, df_t1_oct2, 'BHAH0NEURiijJa9ZGkmPzw', "reliability")

In [2571]:
df_t1_oct2.shape[0]

6832

#### Overall Service

In [2572]:
df_t1_jul1 = format_table(df_t1_j1, df_t1_jul1, 'cuTJUy4iRJuMM4yABB1pw', "service")
df_t1_jul2 = format_table(df_t1_j2, df_t1_jul2, 'cuTJUy4iRJuMM4yABB1pw', "service")

df_t1_oct1 = format_table(df_t1_o1, df_t1_oct1, 'cuTJUy4iRJuMM4yABB1pw',"service")
df_t1_oct2 = format_table(df_t1_o2, df_t1_oct2, 'cuTJUy4iRJuMM4yABB1pw', "service")

#### Variety

In [2573]:
df_t1_jul1 = format_table(df_t1_j1, df_t1_jul1, 'dYVPE7izTlCEmR6I884wg', "var")
df_t1_jul2 = format_table(df_t1_j2, df_t1_jul2, 'dYVPE7izTlCEmR6I884wg', "var")

df_t1_oct1 = format_table(df_t1_o1, df_t1_oct1, 'dYVPE7izTlCEmR6I884wg',"var")
df_t1_oct2 = format_table(df_t1_o2, df_t1_oct2, 'dYVPE7izTlCEmR6I884wg', "var")

#### Payment Methods

In [2574]:
df_t1_jul1 = format_table(df_t1_j1, df_t1_jul1, 'hbzr2wplToGcDTKNQfppmg', "pay_meth")
df_t1_jul2 = format_table(df_t1_j2, df_t1_jul2, 'hbzr2wplToGcDTKNQfppmg', "pay_meth")

df_t1_oct1 = format_table(df_t1_o1, df_t1_oct1, 'hbzr2wplToGcDTKNQfppmg',"pay_meth")
df_t1_oct2 = format_table(df_t1_o2, df_t1_oct2, 'hbzr2wplToGcDTKNQfppmg', "pay_meth")

#### Website Functionality

In [2575]:
df_t1_jul1 = format_table(df_t1_j1, df_t1_jul1, 'yxKokviKRTao7lA3IebPpw', "web_func")
df_t1_jul2 = format_table(df_t1_j2, df_t1_jul2, 'yxKokviKRTao7lA3IebPpw', "web_func")

df_t1_oct1 = format_table(df_t1_o1, df_t1_oct1, 'yxKokviKRTao7lA3IebPpw',"web_func")
df_t1_oct2 = format_table(df_t1_o2, df_t1_oct2, 'yxKokviKRTao7lA3IebPpw', "web_func")

#### Product Availability

In [2576]:
df_t1_jul1 = format_table(df_t1_j1, df_t1_jul1, 'ZiJxXOH2RbSAlED69W3ZQw', "prod_avail")
df_t1_jul2 = format_table(df_t1_j2, df_t1_jul2, 'ZiJxXOH2RbSAlED69W3ZQw', "prod_avail")

df_t1_oct1 = format_table(df_t1_o1, df_t1_oct1, 'ZiJxXOH2RbSAlED69W3ZQw',"prod_avail")
df_t1_oct2 = format_table(df_t1_o2, df_t1_oct2, 'ZiJxXOH2RbSAlED69W3ZQw', "prod_avail")

#### Packaging

In [2577]:
df_t1_jul1 = format_table(df_t1_j1, df_t1_jul1, 'AGvn2rvNQcmQHz6fF2xnfw', "packaging")
df_t1_oct1 = format_table(df_t1_o1, df_t1_oct1, 'AGvn2rvNQcmQHz6fF2xnfw',"packaging")

#### Condition

In [2578]:
df_t1_jul1 = format_table(df_t1_j1, df_t1_jul1, 'g7ybP27R0SFZhfVCOCaLg', "condition")
df_t1_oct1 = format_table(df_t1_o1, df_t1_oct1, 'g7ybP27R0SFZhfVCOCaLg',"condition")

#### Shipping Time

In [2579]:
df_t1_jul1 = format_table(df_t1_j1, df_t1_jul1, 'YqVlLqvS2Kqvi05VoPi3g', "ship_time")
df_t1_oct1 = format_table(df_t1_o1, df_t1_oct1, 'YqVlLqvS2Kqvi05VoPi3g',"ship_time")

#### Repurchase

In [2580]:
df_t1_jul1 = format_table(df_t1_j1, df_t1_jul1, 'LTJuB4wzQ7lB3wTI4uHjA', "repurchase")
df_t1_jul1.loc[df_t1_jul1['repurchase'] == 1, 'repurchase'] = 1
df_t1_jul1.loc[df_t1_jul1['repurchase'] == 2, 'repurchase'] = 0

df_t1_jul2 = format_table(df_t1_j2, df_t1_jul2, 'LTJuB4wzQ7lB3wTI4uHjA', "repurchase")
df_t1_jul2.loc[df_t1_jul2['repurchase'] == 1, 'repurchase'] = 1
df_t1_jul2.loc[df_t1_jul2['repurchase'] == 2, 'repurchase'] = 0

df_t1_oct1 = format_table(df_t1_o1, df_t1_oct1, 'LTJuB4wzQ7lB3wTI4uHjA',"repurchase")
df_t1_oct1.loc[df_t1_oct1['repurchase'] == 1, 'repurchase'] = 1
df_t1_oct1.loc[df_t1_oct1['repurchase'] == 2, 'repurchase'] = 0

df_t1_oct2 = format_table(df_t1_o2, df_t1_oct2, 'LTJuB4wzQ7lB3wTI4uHjA', "repurchase")
df_t1_oct2.loc[df_t1_oct2['repurchase'] == 1, 'repurchase'] = 1
df_t1_oct2.loc[df_t1_oct2['repurchase'] == 2, 'repurchase'] = 0

#### Submitted Time

In [2581]:
df_t1_jul1 = merge_subtime(df_t1_jul1, df_te1_jul)
df_t1_jul2 = merge_subtime(df_t1_jul2, df_te1_jul)

df_t1_oct1 = merge_subtime(df_t1_oct1, df_te1_oct)
df_t1_oct2 = merge_subtime(df_t1_oct2, df_te1_oct)

### Change data type

In [2582]:
df_t1_jul1 = change_dtype(df_t1_jul1)
df_t1_jul2 = change_dtype(df_t1_jul2)

df_t1_oct1 = change_dtype(df_t1_oct1)
df_t1_oct2 = change_dtype(df_t1_oct2)

### Change Submitted Time

In [2583]:
df_t1_jul1 = change_subtime(df_t1_jul1)
df_t1_jul2 = change_subtime(df_t1_jul2)

df_t1_oct1 = change_subtime(df_t1_oct1)
df_t1_oct2 = change_subtime(df_t1_oct2)

## Second Tech Store
blabhkahs removed this and this

In [2584]:
df_te2_jul = pd.merge(df_te2_jul, 
               quest[['question_id', 'title']], 
               on='question_id', 
               how='inner')
df_te2_oct = pd.merge(df_te2_oct, 
               quest[['question_id', 'title']], 
               on='question_id', 
               how='inner')

## Both types of customers together

In [2585]:
df_t2_july = pd.DataFrame({'instance_id': []})
df_t2_july['instance_id'] = df_te2_jul['instance_id'].unique().tolist()

df_t2_octob = pd.DataFrame({'instance_id': []})
df_t2_octob['instance_id'] = df_te2_oct['instance_id'].unique().tolist()

#### Payment Methods

In [2586]:
df_te2_july = rename_dup_quests(df_te2_jul, '6mbTGZ8hQxWEnEnFoIqhpg', 'qLZCTCGqRQO4XTXG9RYvbg')
df_te2_octob = rename_dup_quests(df_te2_oct, '6mbTGZ8hQxWEnEnFoIqhpg', 'qLZCTCGqRQO4XTXG9RYvbg')

In [2587]:
df_te2_july = drop_dup_qs(df_te2_july)
df_te2_octob = drop_dup_qs(df_te2_octob)

In [2588]:
df_t2_july = format_table(df_te2_july, df_t2_july, '6mbTGZ8hQxWEnEnFoIqhpg', "pay_meth")
df_t2_octob = format_table(df_te2_octob, df_t2_octob, '6mbTGZ8hQxWEnEnFoIqhpg', "pay_meth")

#### Price

In [2589]:
df_te2_july = rename_dup_quests(df_te2_jul, 'MjkSKpuqQO6q2KoQ3u9Pw', 'hWs1ewmSyi88zNeXe5kxQ')
df_te2_octob = rename_dup_quests(df_te2_oct, 'MjkSKpuqQO6q2KoQ3u9Pw', 'hWs1ewmSyi88zNeXe5kxQ')

In [2590]:
df_te2_july = drop_dup_qs(df_te2_july)
df_te2_octob = drop_dup_qs(df_te2_octob)

In [2591]:
df_t2_july = format_table(df_te2_july, df_t2_july, 'MjkSKpuqQO6q2KoQ3u9Pw', "price")
df_t2_octob = format_table(df_te2_octob, df_t2_octob, 'MjkSKpuqQO6q2KoQ3u9Pw', "price")

#### Reliability

In [2592]:
df_te2_july = rename_dup_quests(df_te2_jul, 'fx2KDu08QZWqUlJST9ZLfw', 'MF48Qt5tSHmAC26bO2qnbg')
df_te2_octob = rename_dup_quests(df_te2_oct, 'fx2KDu08QZWqUlJST9ZLfw', 'MF48Qt5tSHmAC26bO2qnbg')

In [2593]:
df_te2_july = drop_dup_qs(df_te2_july)
df_te2_octob = drop_dup_qs(df_te2_octob)

In [2594]:
df_t2_july = format_table(df_te2_july, df_t2_july, 'fx2KDu08QZWqUlJST9ZLfw', "reliability")
df_t2_octob = format_table(df_te2_octob, df_t2_octob, 'fx2KDu08QZWqUlJST9ZLfw', "reliability")

#### Variety

In [2595]:
df_te2_july = rename_dup_quests(df_te2_jul, 'hkdtluNoSSuz98RwWxL4w', 'Eary2QSy2B0VO5MnKiGw')
df_te2_octob = rename_dup_quests(df_te2_oct, 'hkdtluNoSSuz98RwWxL4w', 'Eary2QSy2B0VO5MnKiGw')

In [2596]:
df_te2_july = drop_dup_qs(df_te2_july)
df_te2_octob = drop_dup_qs(df_te2_octob)

In [2597]:
df_t2_july = format_table(df_te2_july, df_t2_july, 'hkdtluNoSSuz98RwWxL4w', "variety")
df_t2_octob = format_table(df_te2_octob, df_t2_octob, 'hkdtluNoSSuz98RwWxL4w', "variety")

#### Product Availability

In [2598]:
df_te2_july = rename_dup_quests(df_te2_jul, 'i9KQhYJRu92qzcCPnlHg', 'dXoObJXwQxabTSCP9Zr2sw')
df_te2_octob = rename_dup_quests(df_te2_oct, 'i9KQhYJRu92qzcCPnlHg', 'dXoObJXwQxabTSCP9Zr2sw')

In [2599]:
df_te2_july = drop_dup_qs(df_te2_july)
df_te2_octob = drop_dup_qs(df_te2_octob)

In [2600]:
df_t2_july = format_table(df_te2_july, df_t2_july, 'i9KQhYJRu92qzcCPnlHg', "prod_avail")
df_t2_octob = format_table(df_te2_octob, df_t2_octob, 'i9KQhYJRu92qzcCPnlHg', "prod_avail")

#### Overall service

In [2601]:
df_te2_july = rename_dup_quests(df_te2_jul, 'LHHAquYeQN29BlMgObJmw', 'TvJN5v3LSD6LnLPipq9aVA')
df_te2_octob = rename_dup_quests(df_te2_oct, 'LHHAquYeQN29BlMgObJmw', 'TvJN5v3LSD6LnLPipq9aVA')

In [2602]:
df_te2_july = drop_dup_qs(df_te2_july)
df_te2_octob = drop_dup_qs(df_te2_octob)

In [2603]:
df_t2_july = format_table(df_te2_july, df_t2_july, 'LHHAquYeQN29BlMgObJmw', "service")
df_t2_octob = format_table(df_te2_octob, df_t2_octob, 'LHHAquYeQN29BlMgObJmw', "service")

#### Eshop functionality

In [2604]:
df_te2_july = rename_dup_quests(df_te2_jul, 'R6R5YCFQ2mhOZAFE3eKeg', 'SdB8bRQtmZEaIHvRLvw')
df_te2_octob = rename_dup_quests(df_te2_oct, 'R6R5YCFQ2mhOZAFE3eKeg', 'SdB8bRQtmZEaIHvRLvw')

In [2605]:
df_te2_july = drop_dup_qs(df_te2_july)
df_te2_octob = drop_dup_qs(df_te2_octob)

In [2606]:
df_t2_july = format_table(df_te2_july, df_t2_july, 'R6R5YCFQ2mhOZAFE3eKeg', "eshop_func")
df_t2_octob = format_table(df_te2_octob, df_t2_octob, 'R6R5YCFQ2mhOZAFE3eKeg', "eshop_func")

#### Repurchase

In [2607]:
df_t2_july = format_table(df_te2_july, df_t2_july, 'Qknhmpm1SwaXFPerkIThzg', "repurchase")
df_t2_july.loc[df_t2_july['repurchase'] == 1, 'repurchase'] = 1
df_t2_july.loc[df_t2_july['repurchase'] == 2, 'repurchase'] = 0

df_t2_octob = format_table(df_te2_octob, df_t2_octob, 'Qknhmpm1SwaXFPerkIThzg', "repurchase")
df_t2_octob.loc[df_t2_octob['repurchase'] == 1, 'repurchase'] = 1
df_t2_octob.loc[df_t2_octob['repurchase'] == 2, 'repurchase'] = 0

#### Submitted Time Merge

In [2608]:
df_t2_july = merge_subtime(df_t2_july, df_te2_july)

df_t2_octob = merge_subtime(df_t2_octob, df_te2_octob)

#### Change data type

In [2609]:
df_t2_july = change_dtype(df_t2_july)

df_t2_octob = change_dtype(df_t2_octob)

#### Change submitted time

In [2610]:
df_t2_july = change_subtime(df_t2_july)
df_t2_octob = change_subtime(df_t2_octob)

### Separate Customers

In [2611]:
df_t2_j1 = separate_cust(df_te2_jul, 'o43OEMQs6QyHZHD24w', 1)
df_t2_j2 = separate_cust(df_te2_jul, 'o43OEMQs6QyHZHD24w', 2)

df_t2_o1 = separate_cust(df_te2_oct, 'o43OEMQs6QyHZHD24w', 1)
df_t2_o2 = separate_cust(df_te2_oct, 'o43OEMQs6QyHZHD24w', 2)

instance_id         object
submitted_time      object
questionnaire_id    object
response_id         object
question_id         object
value_extended      object
Unnamed: 6          object
Unnamed: 7          object
Unnamed: 8          object
Unnamed: 9          object
Unnamed: 10         object
Unnamed: 11         object
title               object
dtype: object
instance_id         object
submitted_time      object
questionnaire_id    object
response_id         object
question_id         object
value_extended      object
Unnamed: 6          object
Unnamed: 7          object
Unnamed: 8          object
Unnamed: 9          object
Unnamed: 10         object
Unnamed: 11         object
title               object
dtype: object
instance_id         object
submitted_time      object
questionnaire_id    object
response_id         object
question_id         object
value_extended      object
Unnamed: 6          object
Unnamed: 7          object
Unnamed: 8          object
Unnamed: 9          object
Unnamed: 10         object
Unnamed: 11         object
Unnamed: 12         object
Unnamed: 13         object
Unnamed: 14         object
Unnamed: 15         object
Unnamed: 16         object
Unnamed: 17         object
Unnamed: 18         object
Unnamed: 19         object
Unnamed: 20         object
Unnamed: 21         object
Unnamed: 22         object
Unnamed: 23         object
Unnamed: 24         object
Unnamed: 25         object
Unnamed: 26         object
title               object
dtype: object
instance_id         object
submitted_time      object
questionnaire_id    object
response_id         object
question_id         object
value_extended      object
Unnamed: 6          object
Unnamed: 7          object
Unnamed: 8          object
Unnamed: 9          object
Unnamed: 10         object
Unnamed: 11         object
Unnamed: 12         object
Unnamed: 13         object
Unnamed: 14         object
Unnamed: 15         object
Unnamed: 16         object
Unnamed: 17         object
Unnamed: 18         object
Unnamed: 19         object
Unnamed: 20         object
Unnamed: 21         object
Unnamed: 22         object
Unnamed: 23         object
Unnamed: 24         object
Unnamed: 25         object
Unnamed: 26         object
title               object
dtype: object

### Create Tables

In [2612]:
df_t2_jul1 = pd.DataFrame({'instance_id': []})
df_t2_jul2 = pd.DataFrame({'instance_id': []})

df_t2_oct1 = pd.DataFrame({'instance_id': []})
df_t2_oct2 = pd.DataFrame({'instance_id': []})

df_t2_jul1['instance_id'] = df_t2_j1['instance_id'].unique().tolist()
df_t2_jul2['instance_id'] = df_t2_j2['instance_id'].unique().tolist()

df_t2_oct1['instance_id'] = df_t2_o1['instance_id'].unique().tolist()
df_t2_oct2['instance_id'] = df_t2_o2['instance_id'].unique().tolist()

#### Payment methods

In [2613]:
df_t2_jul1 = format_table(df_t2_j1, df_t2_jul1, '6mbTGZ8hQxWEnEnFoIqhpg', "pay_meth")
df_t2_jul2 = format_table(df_t2_j2, df_t2_jul2, '6mbTGZ8hQxWEnEnFoIqhpg', "pay_meth")

df_t2_oct1 = format_table(df_t2_o1, df_t2_oct1, '6mbTGZ8hQxWEnEnFoIqhpg',"pay_meth")
df_t2_oct2 = format_table(df_t2_o2, df_t2_oct2, '6mbTGZ8hQxWEnEnFoIqhpg', "pay_meth")

#### Reliability

In [2614]:
df_t2_jul1 = format_table(df_t2_j1, df_t2_jul1, 'fx2KDu08QZWqUlJST9ZLfw', "reliability")
df_t2_jul2 = format_table(df_t2_j2, df_t2_jul2, 'fx2KDu08QZWqUlJST9ZLfw', "reliability")

df_t2_oct1 = format_table(df_t2_o1, df_t2_oct1, 'fx2KDu08QZWqUlJST9ZLfw',"reliability")
df_t2_oct2 = format_table(df_t2_o2, df_t2_oct2, 'fx2KDu08QZWqUlJST9ZLfw', "reliability")

#### Variety

In [2615]:
df_t2_jul1 = format_table(df_t2_j1, df_t2_jul1, 'hkdtluNoSSuz98RwWxL4w', "variety")
df_t2_jul2 = format_table(df_t2_j2, df_t2_jul2, 'hkdtluNoSSuz98RwWxL4w', "variety")

df_t2_oct1 = format_table(df_t2_o1, df_t2_oct1, 'hkdtluNoSSuz98RwWxL4w',"variety")
df_t2_oct2 = format_table(df_t2_o2, df_t2_oct2, 'hkdtluNoSSuz98RwWxL4w', "variety")

#### Product availability

In [2616]:
df_t2_jul1 = format_table(df_t2_j1, df_t2_jul1, 'i9KQhYJRu92qzcCPnlHg', "prod_avail")
df_t2_jul2 = format_table(df_t2_j2, df_t2_jul2, 'i9KQhYJRu92qzcCPnlHg', "prod_avail")

df_t2_oct1 = format_table(df_t2_o1, df_t2_oct1, 'i9KQhYJRu92qzcCPnlHg',"prod_avail")
df_t2_oct2 = format_table(df_t2_o2, df_t2_oct2, 'i9KQhYJRu92qzcCPnlHg', "prod_avail")

#### Overall service

In [2617]:
df_t2_jul1 = format_table(df_t2_j1, df_t2_jul1, 'LHHAquYeQN29BlMgObJmw', "service")
df_t2_jul2 = format_table(df_t2_j2, df_t2_jul2, 'LHHAquYeQN29BlMgObJmw', "service")

df_t2_oct1 = format_table(df_t2_o1, df_t2_oct1, 'LHHAquYeQN29BlMgObJmw',"service")
df_t2_oct2 = format_table(df_t2_o2, df_t2_oct2, 'LHHAquYeQN29BlMgObJmw', "service")

#### Price

In [2618]:
df_t2_jul1 = format_table(df_t2_j1, df_t2_jul1, 'MjkSKpuqQO6q2KoQ3u9Pw', "price")
df_t2_jul2 = format_table(df_t2_j2, df_t2_jul2, 'MjkSKpuqQO6q2KoQ3u9Pw', "price")

df_t2_oct1 = format_table(df_t2_o1, df_t2_oct1, 'MjkSKpuqQO6q2KoQ3u9Pw',"price")
df_t2_oct2 = format_table(df_t2_o2, df_t2_oct2, 'MjkSKpuqQO6q2KoQ3u9Pw', "price")

#### E-shop functionality

In [2619]:
df_t2_jul1 = format_table(df_t2_j1, df_t2_jul1, 'R6R5YCFQ2mhOZAFE3eKeg', "eshop_func")
df_t2_jul2 = format_table(df_t2_j2, df_t2_jul2, 'R6R5YCFQ2mhOZAFE3eKeg', "eshop_func")

df_t2_oct1 = format_table(df_t2_o1, df_t2_oct1, 'R6R5YCFQ2mhOZAFE3eKeg',"eshop_func")
df_t2_oct2 = format_table(df_t2_o2, df_t2_oct2, 'R6R5YCFQ2mhOZAFE3eKeg', "eshop_func")

#### Condition

In [2620]:
df_t2_jul1 = format_table(df_t2_j1, df_t2_jul1, 'bH2LUz8LQfqcZPSLoRg4gA', "condition")

df_t2_oct1 = format_table(df_t2_o1, df_t2_oct1, 'bH2LUz8LQfqcZPSLoRg4gA',"condition")

#### Shipping time

In [2621]:
df_t2_jul1 = format_table(df_t2_j1, df_t2_jul1, 'joQ7dY7sTtuLFKvpYWCIfA', "ship_time")

df_t2_oct1 = format_table(df_t2_o1, df_t2_oct1, 'joQ7dY7sTtuLFKvpYWCIfA',"ship_time")

#### Repurchase

In [2622]:
df_t2_jul1 = format_table(df_t2_j1, df_t2_jul1, 'Qknhmpm1SwaXFPerkIThzg', "repurchase")
df_t2_jul1.loc[df_t2_jul1['repurchase'] == 1, 'repurchase'] = 1
df_t2_jul1.loc[df_t2_jul1['repurchase'] == 2, 'repurchase'] = 0

df_t2_jul2 = format_table(df_t2_j2, df_t2_jul2, 'Qknhmpm1SwaXFPerkIThzg', "repurchase")
df_t2_jul2.loc[df_t2_jul2['repurchase'] == 1, 'repurchase'] = 1
df_t2_jul2.loc[df_t2_jul2['repurchase'] == 2, 'repurchase'] = 0

df_t2_oct1 = format_table(df_t2_o1, df_t2_oct1, 'Qknhmpm1SwaXFPerkIThzg',"repurchase")
df_t2_oct1.loc[df_t2_oct1['repurchase'] == 1, 'repurchase'] = 1
df_t2_oct1.loc[df_t2_oct1['repurchase'] == 2, 'repurchase'] = 0

df_t2_oct2 = format_table(df_t2_o2, df_t2_oct2, 'Qknhmpm1SwaXFPerkIThzg', "repurchase")
df_t2_oct2.loc[df_t2_oct2['repurchase'] == 1, 'repurchase'] = 1
df_t2_oct2.loc[df_t2_oct2['repurchase'] == 2, 'repurchase'] = 0

#### Submitted Time

In [2623]:
df_t2_jul1 = merge_subtime(df_t2_jul1, df_te2_jul)
df_t2_jul2 = merge_subtime(df_t2_jul2, df_te2_jul)

df_t2_oct1 = merge_subtime(df_t2_oct1, df_te2_oct)
df_t2_oct2 = merge_subtime(df_t2_oct2, df_te2_oct)

### Change data type

In [2624]:
df_t2_jul1 = change_dtype(df_t2_jul1)
df_t2_jul2 = change_dtype(df_t2_jul2)

df_t2_oct1 = change_dtype(df_t2_oct1)
df_t2_oct2 = change_dtype(df_t2_oct2)

### Change submitted time

In [2625]:
df_t2_jul1 = change_subtime(df_t2_jul1)
df_t2_jul2 = change_subtime(df_t2_jul2)

df_t2_oct1 = change_subtime(df_t2_oct1)
df_t2_oct2 = change_subtime(df_t2_oct2)

## Testing the Logistic Regression Algorithm
We will be using the Algorithm of 'Logistic Regression' in order to predict if the people answering the questionnaires would buy the product again or not. Although this question already exists, we are splitting the column of 'repurchase' into 80%, which will be our train set and 20% which will be our test set. 
Afterwards we are also going to find out the significance of each question/factor and how much it contributes to the repurchase.

In [2626]:
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

## Data Exploration

### Compare dates
We want to keep accounts for specific dates in order to get a better understanding of whether the quarantine, sales etc. affect the repurchase rate more depending on different factors.

In [2627]:
from datetime import date
def one_date_less(df, year, month, day):
    a = date(year, month, day)
    df = df[df['date'] < a]
    return df

In [2628]:
def one_date_more(df, year, month, day):
    a = date(year, month, day)
    df = df[df['date'] > a]
    return df

### Calculating repurchase percentages

In [2629]:
def repurchase_perc(df):
    no_repurchase_count = len(df[df['repurchase'] == 0])
    repurchase_count = len(df[df['repurchase'] == 1])
    
    no_repurchase_pct = no_repurchase_count/(no_repurchase_count + repurchase_count)
    print("percentage of no repurchase is", no_repurchase_pct*100)
   
    repurchase_pct = repurchase_count/(no_repurchase_count + repurchase_count)
    print("percentage of repurchase", repurchase_pct*100)

### Imbalanced Classes - SMOTE
In both cases above the percentages of repurchase and non-repurchase are significantly different, therefore they are unbalanced. 
Because of that we are going yo use the SMOTE algorithm to up-sample the non-repurchase. The way it works is that it creates synthetic samples from the non-repurchase class (the minority) and is choosing randomly one of the nearest neighbours (using the K-nearest-neighbors algorithm) to create a slightly changed observation. Therefore it doesn't create copies but similar observations to the already existing ones.

In [2630]:
from imblearn.over_sampling import SMOTE

def smote_oversampling(X_train, y_train):
   
    sa = SMOTE(random_state=0)
    
    columns = X_train.columns
    data_X,data_y = sa.fit_sample(X_train, y_train)
    data_X = pd.DataFrame(data = data_X, columns = columns)
    data_y= pd.DataFrame(data = data_y,columns = ['repurchase'])
    
    # we can Check the numbers of our data
    print("length of oversampled data is ", len(data_X))
    print("Count of non-repurchase in oversampled data",len(data_y[data_y['repurchase'] == 0]))
    print("Count of repurchases",len(data_y[data_y['repurchase'] == 1]))
    print("Proportion of non- repurchase data in oversampled data is ",len(data_y[data_y['repurchase'] == 0]) / len(data_X))
    print("Proportion of repurchase data in oversampled data is ",len(data_y[data_y['repurchase'] == 1]) / len(data_X))
  
    return data_y, data_X

In **both** below cases we are going to be using SMOTE because the sample distribution is very skewed.

### Implementing the Algorithm

Other than implementing the Algorithm of Logistic Regression (with or without the use of SMOTE) we are also going to be calculating metrics such as **Accuracy** and **AUC**. The definition of these metrics is explained below.

### Accuracy 
Accuracy is the metric that helps us to evaluate any classification model, such as Logistic Regression. It is a fraction that informs us how many predictions our model got right. 
The official calculation for binary classification is:
(True Positives + True Negatives) / (TP + TN + False Positives + False Negatives)

**But**, accuracy **may not** be the perfect metric for class-imbalanced datasets such as the one that we are working on. That's why we are also going to be using the AUC metric.

### AUC
Compared with accuracy, AUC represents **the area underneath the ROC Curve** that we will display below. AUC is very usefull for cases where the sample distribution is very skewed (such as in this case) and therefore it will tend to overfit one class.

**AUC** can be interpreted as the probability that the model ranks a random positive example higher than a random negative example. It measures the **quality of a model's predictions** whatever the classification threshold.

In [2631]:
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import precision_recall_curve, f1_score, roc_curve, roc_auc_score

def logreg_fitting(df, a):
    
    X = df.loc[:, (df.columns != 'repurchase') & (df.columns != 'instance_id') & (df.columns != 'date')]
    y = df.loc[:, df.columns == 'repurchase']

    # Find the results of the regression
    logit_model = sm.Logit(y,X)
    result = logit_model.fit()
    print("Summary Of Results")
    print(result.summary2())
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
    logreg = LogisticRegression()
    
    if (a == True):
        # Implement SMOTE
        y_train, X_train = smote_oversampling(X_train, y_train)       

    
    # Fit the model
    model = logreg.fit(X_train, y_train)
    y_pred = logreg.predict(X_test)
    
    # Predict Accuracy
    print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))
    
    # Predict AUC 
    y_prob = logreg.predict_proba(X_test)
    y_pred = model.predict(X_test)
    auc = roc_auc_score(y_test, y_prob[:,1])
    print('Logistic Regression AUC: %.3f' % auc)

### ROC Curve

### First Super Market

#### Quarantine

In [2632]:
df_s1_quar = one_date_more(df_s1_oct, 2020, 11, 6)
df_s1_quar.sort_values(by = 'date', inplace = True)

C:\Users\Pigi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [2633]:
repurchase_perc(df_s1_quar)

percentage of no repurchase is 5.951516911017564
percentage of repurchase 94.04848308898244

In [2634]:
logreg_fitting(df_s1_quar, True)

Optimization terminated successfully.
         Current function value: 0.122929
         Iterations 8
Summary Of Results
                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.455
Dependent Variable: repurchase       AIC:              1705.7104
Date:               2021-02-04 17:26 BIC:              1746.7364
No. Observations:   6889             Log-Likelihood:   -846.86
Df Model:           5                LL-Null:          -1554.4
Df Residuals:       6883             LLR p-value:      7.5866e-304
Converged:          1.0000           Scale:            1.0000
No. Iterations:     8.0000
-------------------------------------------------------------------
                Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
-------------------------------------------------------------------
eshop_sat       0.1294    0.0463   2.7966  0.0052   0.0387   0.2201
eshop_exp       0.4867    0.0489   9.9461  0.0000   0.3908   0.5826
service         0.3262    0.0443   7.3610  0.0000   0.2393   0.4131
ship_time      -0.0994    0.0333  -2.9860  0.0028  -0.1647  -0.0342
condition       0.0009    0.0410   0.0222  0.9823  -0.0795   0.0813
packaging      -0.3356    0.0431  -7.7791  0.0000  -0.4201  -0.2510
==================================================================

length of oversampled data is  10346
Count of non-repurchase in oversampled data 5173
Count of repurchases 5173
Proportion of non- repurchase data in oversampled data is  0.5
Proportion of repurchase data in oversampled data is  0.5
Accuracy of logistic regression classifier on test set: 0.91
Logistic Regression AUC: 0.955

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2635]:
df_s1_quar.groupby('repurchase').mean()

            eshop_sat  eshop_exp   service  ship_time  condition  packaging
repurchase
0            4.090244   3.580488  4.380488   5.887805   6.158537   6.819512
1            8.450069   8.426763  8.939497   8.740238   9.002161   9.106807

#### Before quarantine

In [2636]:
df_s1_bq = one_date_less(df_s1_oct, 2020, 11, 7)
df_s1_bq.sort_values(by = 'date', inplace = True)

C:\Users\Pigi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

#### Connect before and during quarantine dataframes
We are using concat to connect the two dataframes in order to include the month of October in the "Before quarantine" period.

In [2637]:
frames = [df_s1_bq, df_s1_jul]
df_s1_befq = pd.concat(frames)

In [2638]:
df_s1_befq.sort_values(by = 'date', inplace = True)

In [2639]:
logreg_fitting(df_s1_befq, True)

Optimization terminated successfully.
         Current function value: 0.105832
         Iterations 8
Summary Of Results
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.475
Dependent Variable: repurchase       AIC:              1775.7954
Date:               2021-02-04 17:26 BIC:              1817.9633
No. Observations:   8333             Log-Likelihood:   -881.90
Df Model:           5                LL-Null:          -1678.7
Df Residuals:       8327             LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     8.0000
-----------------------------------------------------------------
              Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
-----------------------------------------------------------------
eshop_sat     0.0281    0.0398   0.7054  0.4805  -0.0500   0.1061
eshop_exp     0.6063    0.0453  13.3807  0.0000   0.5175   0.6951
service       0.2679    0.0412   6.5058  0.0000   0.1872   0.3486
ship_time    -0.1250    0.0285  -4.3884  0.0000  -0.1808  -0.0692
condition     0.0731    0.0368   1.9834  0.0473   0.0009   0.1453
packaging    -0.3078    0.0395  -7.7986  0.0000  -0.3852  -0.2305
================================================================

length of oversampled data is  12636
Count of non-repurchase in oversampled data 6318
Count of repurchases 6318
Proportion of non- repurchase data in oversampled data is  0.5
Proportion of repurchase data in oversampled data is  0.5
Accuracy of logistic regression classifier on test set: 0.92
Logistic Regression AUC: 0.966

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2640]:
df_s1_befq.groupby('repurchase').mean()

            eshop_sat  eshop_exp   service  ship_time  condition  packaging
repurchase
0            4.040000   3.277647  4.296471   6.087059   5.644706   6.543529
1            8.427668   8.406171  8.955867   8.971927   8.939808   9.041477

## Note!!
Mention the average questionnaires answered per month to emphasize that there was no significant difference for the supermarkets!

### Second Super Market

#### Quarantine

In [2641]:
df_s2_quar = one_date_more(df_s2_oct, 2020, 11, 6)
df_s2_quar.sort_values(by = 'date', inplace = True)

C:\Users\Pigi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [2642]:
repurchase_perc(df_s2_quar)

percentage of no repurchase is 7.649986900707361
percentage of repurchase 92.35001309929264

In [2643]:
logreg_fitting(df_s2_quar, True)

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Optimization terminated successfully.
         Current function value: 0.129148
         Iterations 8
Summary Of Results
                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.522
Dependent Variable: repurchase       AIC:              997.9190
Date:               2021-02-04 17:26 BIC:              1035.4023
No. Observations:   3817             Log-Likelihood:   -492.96
Df Model:           5                LL-Null:          -1031.1
Df Residuals:       3811             LLR p-value:      1.8102e-230
Converged:          1.0000           Scale:            1.0000
No. Iterations:     8.0000
-------------------------------------------------------------------
                Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
-------------------------------------------------------------------
eshop_sat       0.0227    0.0561   0.4045  0.6859  -0.0872   0.1325
packaging      -0.4651    0.0640  -7.2660  0.0000  -0.5906  -0.3396
service         0.2677    0.0656   4.0778  0.0000   0.1390   0.3963
ship_time      -0.0038    0.0385  -0.0997  0.9206  -0.0793   0.0716
condition       0.0485    0.0597   0.8130  0.4162  -0.0685   0.1656
eshop_exp       0.6114    0.0615   9.9445  0.0000   0.4909   0.7319
==================================================================

length of oversampled data is  5632
Count of non-repurchase in oversampled data 2816
Count of repurchases 2816
Proportion of non- repurchase data in oversampled data is  0.5
Proportion of repurchase data in oversampled data is  0.5
Accuracy of logistic regression classifier on test set: 0.94
Logistic Regression AUC: 0.981

In [2644]:
df_s2_quar.groupby('repurchase').mean()

            eshop_sat  packaging   service  ship_time  condition  eshop_exp
repurchase
0            3.828767   5.958904  3.767123   3.976027   5.452055   3.078767
1            8.900142   9.216454  9.148369   8.840567   9.157730   8.818723

#### Before quarantine

In [2645]:
df_s2_bq = one_date_less(df_s2_oct, 2020, 11, 7)
df_s2_bq.sort_values(by = 'date', inplace = True)

C:\Users\Pigi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

#### Connect before and during quarantine dataframes

In [2646]:
frames = [df_s2_bq, df_s2_jul]
df_s2_befq = pd.concat(frames)

In [2647]:
df_s2_befq.sort_values(by = 'date', inplace = True)

In [2648]:
logreg_fitting(df_s2_befq, True)

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Optimization terminated successfully.
         Current function value: 0.091791
         Iterations 8
Summary Of Results
                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.482
Dependent Variable: repurchase       AIC:              926.9694
Date:               2021-02-04 17:26 BIC:              966.0533
No. Observations:   4984             Log-Likelihood:   -457.48
Df Model:           5                LL-Null:          -883.01
Df Residuals:       4978             LLR p-value:      1.0391e-181
Converged:          1.0000           Scale:            1.0000
No. Iterations:     8.0000
-------------------------------------------------------------------
                Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
-------------------------------------------------------------------
eshop_sat       0.0137    0.0609   0.2250  0.8220  -0.1057   0.1332
packaging      -0.4604    0.0614  -7.4950  0.0000  -0.5808  -0.3400
service         0.1725    0.0674   2.5597  0.0105   0.0404   0.3046
ship_time      -0.0384    0.0430  -0.8944  0.3711  -0.1226   0.0458
condition       0.1832    0.0564   3.2470  0.0012   0.0726   0.2938
eshop_exp       0.6482    0.0647  10.0118  0.0000   0.5213   0.7751
==================================================================

length of oversampled data is  7646
Count of non-repurchase in oversampled data 3823
Count of repurchases 3823
Proportion of non- repurchase data in oversampled data is  0.5
Proportion of repurchase data in oversampled data is  0.5
Accuracy of logistic regression classifier on test set: 0.94
Logistic Regression AUC: 0.943

In [2649]:
df_s2_befq.groupby('repurchase').mean()

            eshop_sat  packaging   service  ship_time  condition  eshop_exp
repurchase
0            4.350467   6.420561  4.457944   5.079439   5.415888   3.509346
1            8.925577   9.221593  9.197065   8.983438   9.128092   8.882600

### First Tech Store

### All customers together

#### Before Quarantine

In [2650]:
df_te1_bq = one_date_less(df_t1_octob, 2020, 11, 7)

In [2651]:
frames = [df_te1_bq, df_t1_july]
df_te1_befq = pd.concat(frames)

In [2652]:
repurchase_perc(df_te1_befq)

percentage of no repurchase is 10.739102969046115
percentage of repurchase 89.26089703095388

In [2653]:
logreg_fitting(df_te1_befq, True)

Optimization terminated successfully.
         Current function value: 0.162807
         Iterations 8
Summary Of Results
                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.523
Dependent Variable: repurchase       AIC:              529.4472
Date:               2021-02-04 17:26 BIC:              567.0167
No. Observations:   1583             Log-Likelihood:   -257.72
Df Model:           6                LL-Null:          -539.84
Df Residuals:       1576             LLR p-value:      1.2016e-118
Converged:          1.0000           Scale:            1.0000
No. Iterations:     8.0000
-------------------------------------------------------------------
                Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
-------------------------------------------------------------------
price          -0.2418    0.1416  -1.7075  0.0877  -0.5194   0.0358
reliability     0.8297    0.1484   5.5917  0.0000   0.5389   1.1205
service         0.9978    0.1476   6.7608  0.0000   0.7086   1.2871
variety        -0.4656    0.1566  -2.9727  0.0030  -0.7726  -0.1586
pay_meth       -0.6278    0.1247  -5.0361  0.0000  -0.8721  -0.3835
web_func        0.2027    0.1419   1.4284  0.1532  -0.0754   0.4807
prod_avail      0.2045    0.1224   1.6706  0.0948  -0.0354   0.4444
==================================================================

length of oversampled data is  2242
Count of non-repurchase in oversampled data 1121
Count of repurchases 1121
Proportion of non- repurchase data in oversampled data is  0.5
Proportion of repurchase data in oversampled data is  0.5
Accuracy of logistic regression classifier on test set: 0.91
Logistic Regression AUC: 0.982

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2654]:
df_te1_befq.groupby('repurchase').mean()

,price,reliability,service,variety,pay_meth,web_func,prod_avail
repurchase,,,,,,,
0,2.829412,1.870588,1.829412,3.041176,3.529412,2.729412,2.288235
1,4.093418,4.528662,4.438783,4.426752,4.720453,4.462845,4.277424

#### During Quarantine

In [2655]:
df_te1_quar = one_date_more(df_t1_octob, 2020, 11, 6)

In [2656]:
repurchase_perc(df_te1_quar)

percentage of no repurchase is 23.274304300686662
percentage of repurchase 76.72569569931333

In [2727]:
df_te1_quar.groupby('repurchase').mean()

,price,reliability,service,variety,pay_meth,web_func,prod_avail
repurchase,,,,,,,
0,2.501812,1.760611,1.733696,2.32324,3.068841,2.773810,2.380694
1,3.941985,4.360104,4.220050,4.28364,4.472602,4.329958,4.159601

In [2657]:
logreg_fitting(df_te1_quar, False)

Optimization terminated successfully.
         Current function value: 0.305471
         Iterations 7
Summary Of Results
                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.437
Dependent Variable: repurchase       AIC:              10156.8509
Date:               2021-02-04 17:26 BIC:              10210.8719
No. Observations:   16602            Log-Likelihood:   -5071.4
Df Model:           6                LL-Null:          -9007.7
Df Residuals:       16595            LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
------------------------------------------------------------------
              Coef.   Std.Err.     z      P>|z|    [0.025   0.975]
------------------------------------------------------------------
price        -0.4120    0.0318  -12.9479  0.0000  -0.4744  -0.3496
reliability   0.9549    0.0350   27.3089  0.0000   0.8863   1.0234
service       0.7830    0.0350   22.3869  0.0000   0.7145   0.8516
variety       0.1279    0.0282    4.5421  0.0000   0.0727   0.1831
pay_meth     -0.4279    0.0247  -17.3006  0.0000  -0.4763  -0.3794
web_func     -0.3226    0.0274  -11.7688  0.0000  -0.3763  -0.2689
prod_avail   -0.0668    0.0267   -2.4985  0.0125  -0.1191  -0.0144
=================================================================

Accuracy of logistic regression classifier on test set: 0.92
Logistic Regression AUC: 0.963

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

### Separated customers

#### Quarantine

In [2658]:
df_te1_quar1 = one_date_more(df_t1_oct1, 2020, 11, 6)
df_te1_quar2 = one_date_more(df_t1_oct2, 2020, 11, 6)

#### Customers with delivered orders

In [2659]:
repurchase_perc(df_te1_quar1)

percentage of no repurchase is 6.781124112794935
percentage of repurchase 93.21887588720507

In [2660]:
logreg_fitting(df_te1_quar1, True)

Optimization terminated successfully.
         Current function value: 0.132144
         Iterations 8
Summary Of Results
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.467
Dependent Variable: repurchase       AIC:              2775.4769
Date:               2021-02-04 17:26 BIC:              2847.9974
No. Observations:   10426            Log-Likelihood:   -1377.7
Df Model:           9                LL-Null:          -2585.0
Df Residuals:       10416            LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     8.0000
----------------------------------------------------------------
                 Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
----------------------------------------------------------------
price           -0.3699   0.0597  -6.1974 0.0000 -0.4869 -0.2529
reliability      0.7861   0.0607  12.9509 0.0000  0.6671  0.9051
service          0.8590   0.0645  13.3154 0.0000  0.7326  0.9855
var              0.2114   0.0536   3.9454 0.0001  0.1064  0.3165
pay_meth        -0.5770   0.0511 -11.2821 0.0000 -0.6773 -0.4768
web_func        -0.0020   0.0529  -0.0371 0.9704 -0.1056  0.1017
prod_avail      -0.1852   0.0535  -3.4600 0.0005 -0.2901 -0.0803
packaging       -0.1161   0.0513  -2.2617 0.0237 -0.2167 -0.0155
condition        0.1877   0.0483   3.8887 0.0001  0.0931  0.2824
ship_time        0.0871   0.0440   1.9811 0.0476  0.0009  0.1733
================================================================

length of oversampled data is  15578
Count of non-repurchase in oversampled data 7789
Count of repurchases 7789
Proportion of non- repurchase data in oversampled data is  0.5
Proportion of repurchase data in oversampled data is  0.5
Accuracy of logistic regression classifier on test set: 0.92
Logistic Regression AUC: 0.978

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2661]:
df_te1_quar1.groupby('repurchase').mean()

,price,reliability,service,var,pay_meth,web_func,prod_avail,packaging,condition,ship_time
repurchase,,,,,,,,,,
0,2.949081,2.087694,2.022631,2.626591,3.584158,2.885431,2.900990,2.765205,3.046676,2.411598
1,4.045169,4.547176,4.412388,4.441403,4.560449,4.411874,4.301883,4.321638,4.704496,4.235724

#### Customers with undelivered orders

In [2662]:
repurchase_perc(df_te1_quar2)

percentage of no repurchase is 51.13440776091378
percentage of repurchase 48.86559223908621

In [2663]:
logreg_fitting(df_te1_quar2, False)

Optimization terminated successfully.
         Current function value: 0.542002
         Iterations 6
Summary Of Results
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.218
Dependent Variable: repurchase       AIC:              6941.8747
Date:               2021-02-04 17:26 BIC:              6989.2132
No. Observations:   6391             Log-Likelihood:   -3463.9
Df Model:           6                LL-Null:          -4428.3
Df Residuals:       6384             LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     6.0000
----------------------------------------------------------------
                 Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
----------------------------------------------------------------
price           -0.3147   0.0367  -8.5719 0.0000 -0.3866 -0.2427
reliability      0.8334   0.0392  21.2704 0.0000  0.7566  0.9102
service          0.4735   0.0387  12.2311 0.0000  0.3976  0.5494
var              0.0518   0.0318   1.6328 0.1025 -0.0104  0.1141
pay_meth        -0.3446   0.0273 -12.6116 0.0000 -0.3981 -0.2910
web_func        -0.2717   0.0304  -8.9361 0.0000 -0.3313 -0.2121
prod_avail      -0.0686   0.0292  -2.3481 0.0189 -0.1259 -0.0113
================================================================

Accuracy of logistic regression classifier on test set: 0.82
Logistic Regression AUC: 0.903

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2664]:
df_te1_quar.groupby('repurchase').mean()

,price,reliability,service,variety,pay_meth,web_func,prod_avail
repurchase,,,,,,,
0,2.501812,1.760611,1.733696,2.32324,3.068841,2.773810,2.380694
1,3.941985,4.360104,4.220050,4.28364,4.472602,4.329958,4.159601

#### Black friday

#### All costumers together

In [2665]:
df_te1_bf = one_date_more(df_t1_octob, 2020, 11, 26)
df_te1_bf = one_date_less(df_te1_bf, 2020, 12, 15)

In [2666]:
repurchase_perc(df_te1_bf)

percentage of no repurchase is 22.04685815116165
percentage of repurchase 77.95314184883834

In [2667]:
logreg_fitting(df_te1_bf, True)

Optimization terminated successfully.
         Current function value: 0.299847
         Iterations 7
Summary Of Results
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.432
Dependent Variable: repurchase       AIC:              6131.4789
Date:               2021-02-04 17:26 BIC:              6182.0906
No. Observations:   10201            Log-Likelihood:   -3058.7
Df Model:           6                LL-Null:          -5381.0
Df Residuals:       10194            LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
----------------------------------------------------------------
                 Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
----------------------------------------------------------------
price           -0.3972   0.0406  -9.7723 0.0000 -0.4769 -0.3175
reliability      0.9612   0.0447  21.5197 0.0000  0.8737  1.0487
service          0.7536   0.0447  16.8641 0.0000  0.6660  0.8412
variety          0.1196   0.0357   3.3551 0.0008  0.0497  0.1895
pay_meth        -0.3946   0.0315 -12.5100 0.0000 -0.4564 -0.3328
web_func        -0.3152   0.0353  -8.9272 0.0000 -0.3844 -0.2460
prod_avail      -0.0869   0.0344  -2.5242 0.0116 -0.1543 -0.0194
================================================================

length of oversampled data is  12760
Count of non-repurchase in oversampled data 6380
Count of repurchases 6380
Proportion of non- repurchase data in oversampled data is  0.5
Proportion of repurchase data in oversampled data is  0.5
Accuracy of logistic regression classifier on test set: 0.90
Logistic Regression AUC: 0.951

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2668]:
df_te1_bf.groupby('repurchase').mean()

,price,reliability,service,variety,pay_meth,web_func,prod_avail
repurchase,,,,,,,
0,2.526012,1.786572,1.766118,2.354824,3.080036,2.812806,2.445531
1,3.929577,4.352741,4.212777,4.283325,4.443033,4.322435,4.175553

#### Customers with delivered orders

In [2669]:
df_te1_bf1 = one_date_more(df_t1_oct1, 2020, 11, 26)
df_te1_bf1 = one_date_less(df_te1_bf1, 2020, 12, 15)

df_te1_bf2 = one_date_more(df_t1_oct2, 2020, 11, 26)
df_te1_bf2 = one_date_less(df_te1_bf2, 2020, 12, 15)

In [2670]:
repurchase_perc(df_te1_bf1)

percentage of no repurchase is 6.471617109238352
percentage of repurchase 93.52838289076165

In [2671]:
logreg_fitting(df_te1_bf1, True)

Optimization terminated successfully.
         Current function value: 0.121223
         Iterations 8
Summary Of Results
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.494
Dependent Variable: repurchase       AIC:              1544.7484
Date:               2021-02-04 17:26 BIC:              1612.2139
No. Observations:   6289             Log-Likelihood:   -762.37
Df Model:           9                LL-Null:          -1507.8
Df Residuals:       6279             LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     8.0000
-----------------------------------------------------------------
              Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
-----------------------------------------------------------------
price        -0.2842    0.0834  -3.4064  0.0007  -0.4477  -0.1207
reliability   0.9691    0.0898  10.7937  0.0000   0.7931   1.1451
service       0.9345    0.0901  10.3686  0.0000   0.7578   1.1111
var           0.2377    0.0772   3.0779  0.0021   0.0863   0.3891
pay_meth     -0.4231    0.0715  -5.9200  0.0000  -0.5631  -0.2830
web_func     -0.0305    0.0752  -0.4062  0.6846  -0.1778   0.1168
prod_avail   -0.3734    0.0795  -4.6946  0.0000  -0.5293  -0.2175
packaging    -0.0355    0.0706  -0.5023  0.6155  -0.1739   0.1030
condition    -0.1796    0.0726  -2.4751  0.0133  -0.3219  -0.0374
ship_time     0.1118    0.0565   1.9776  0.0480   0.0010   0.2226
================================================================

length of oversampled data is  9398
Count of non-repurchase in oversampled data 4699
Count of repurchases 4699
Proportion of non- repurchase data in oversampled data is  0.5
Proportion of repurchase data in oversampled data is  0.5
Accuracy of logistic regression classifier on test set: 0.93
Logistic Regression AUC: 0.968

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2672]:
df_te1_bf1.groupby('repurchase').mean()

,price,reliability,service,var,pay_meth,web_func,prod_avail,packaging,condition,ship_time
repurchase,,,,,,,,,,
0,2.882064,2.034398,1.963145,2.609337,3.447174,2.867322,2.918919,2.783784,3.127764,2.390663
1,4.055593,4.569704,4.451207,4.465318,4.559164,4.419415,4.335090,4.354811,4.699932,4.256715

#### Costumers with undelivered orders

In [2673]:
repurchase_perc(df_te1_bf2)

percentage of no repurchase is 47.459349593495936
percentage of repurchase 52.540650406504064

In [2674]:
logreg_fitting(df_te1_bf2, False)

Optimization terminated successfully.
         Current function value: 0.533947
         Iterations 6
Summary Of Results
                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.228
Dependent Variable: repurchase       AIC:              4217.2288
Date:               2021-02-04 17:26 BIC:              4261.1742
No. Observations:   3936             Log-Likelihood:   -2101.6
Df Model:           6                LL-Null:          -2723.1
Df Residuals:       3929             LLR p-value:      2.2935e-265
Converged:          1.0000           Scale:            1.0000
No. Iterations:     6.0000
-------------------------------------------------------------------
                Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
-------------------------------------------------------------------
price          -0.3531    0.0468  -7.5453  0.0000  -0.4448  -0.2614
reliability     0.8271    0.0495  16.7064  0.0000   0.7300   0.9241
service         0.4448    0.0485   9.1745  0.0000   0.3498   0.5398
var             0.0863    0.0400   2.1560  0.0311   0.0078   0.1647
pay_meth       -0.3040    0.0348  -8.7424  0.0000  -0.3721  -0.2358
web_func       -0.2662    0.0389  -6.8358  0.0000  -0.3425  -0.1899
prod_avail     -0.0558    0.0372  -1.5017  0.1332  -0.1287   0.0170
==================================================================

Accuracy of logistic regression classifier on test set: 0.83
Logistic Regression AUC: 0.915

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2675]:
df_te1_bf2.groupby('repurchase').mean()

,price,reliability,service,var,pay_meth,web_func,prod_avail
repurchase,,,,,,,
0,2.454497,1.725375,1.742505,2.292291,3.005889,2.797109,2.335118
1,3.532882,3.674565,3.495648,3.691973,4.073985,3.948259,3.678917

#### Xmas/click-away

#### All costumers together

In [2676]:
df_te1_xmas = one_date_more(df_t1_octob, 2020, 12, 13)

In [2677]:
repurchase_perc(df_te1_xmas)

percentage of no repurchase is 33.83217530732229
percentage of repurchase 66.16782469267771

In [2678]:
logreg_fitting(df_te1_xmas, False)

Optimization terminated successfully.
         Current function value: 0.384661
         Iterations 7
Summary Of Results
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.399
Dependent Variable: repurchase       AIC:              2892.8059
Date:               2021-02-04 17:26 BIC:              2936.3975
No. Observations:   3742             Log-Likelihood:   -1439.4
Df Model:           6                LL-Null:          -2394.6
Df Residuals:       3735             LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
-----------------------------------------------------------------
              Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
-----------------------------------------------------------------
price        -0.4938    0.0601  -8.2113  0.0000  -0.6117  -0.3760
reliability   0.9148    0.0673  13.5901  0.0000   0.7829   1.0468
service       0.7982    0.0685  11.6602  0.0000   0.6640   0.9323
variety       0.1330    0.0533   2.4955  0.0126   0.0286   0.2375
pay_meth     -0.4126    0.0451  -9.1404  0.0000  -0.5011  -0.3242
web_func     -0.3100    0.0497  -6.2392  0.0000  -0.4073  -0.2126
prod_avail   -0.0795    0.0488  -1.6302  0.1031  -0.1751   0.0161
================================================================

Accuracy of logistic regression classifier on test set: 0.90
Logistic Regression AUC: 0.959

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2679]:
df_te2_xmas.groupby('repurchase').mean()

,pay_meth,price,reliability,variety,prod_avail,service,eshop_func
repurchase,,,,,,,
0,3.266055,2.742100,1.686035,2.551478,2.512742,1.636086,2.241590
1,4.664972,4.155567,4.349263,4.327911,4.350788,4.210473,4.265887

#### Costumers with delivered orders

In [2680]:
df_te1_xmas1 = one_date_more(df_t1_oct1, 2020, 12, 13)

In [2681]:
repurchase_perc(df_te1_xmas1)

percentage of no repurchase is 9.366684406599255
percentage of repurchase 90.63331559340074

In [2682]:
logreg_fitting(df_te1_xmas1 , True)

Optimization terminated successfully.
         Current function value: 0.148742
         Iterations 8
Summary Of Results
                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.522
Dependent Variable: repurchase       AIC:              578.9737
Date:               2021-02-04 17:26 BIC:              634.3587
No. Observations:   1879             Log-Likelihood:   -279.49
Df Model:           9                LL-Null:          -584.26
Df Residuals:       1869             LLR p-value:      1.8759e-125
Converged:          1.0000           Scale:            1.0000
No. Iterations:     8.0000
-------------------------------------------------------------------
                Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
-------------------------------------------------------------------
price          -0.8596    0.1499  -5.7346  0.0000  -1.1533  -0.5658
reliability     0.8233    0.1493   5.5144  0.0000   0.5307   1.1159
service         0.7202    0.1571   4.5856  0.0000   0.4124   1.0281
var             0.4985    0.1284   3.8827  0.0001   0.2469   0.7501
pay_meth       -0.9039    0.1209  -7.4781  0.0000  -1.1409  -0.6670
web_func        0.2023    0.1237   1.6357  0.1019  -0.0401   0.4447
prod_avail     -0.2341    0.1295  -1.8076  0.0707  -0.4879   0.0197
packaging       0.1561    0.1038   1.5039  0.1326  -0.0473   0.3596
condition       0.4404    0.1023   4.3070  0.0000   0.2400   0.6408
ship_time       0.0052    0.1016   0.0508  0.9595  -0.1940   0.2044
==================================================================

length of oversampled data is  2718
Count of non-repurchase in oversampled data 1359
Count of repurchases 1359
Proportion of non- repurchase data in oversampled data is  0.5
Proportion of repurchase data in oversampled data is  0.5
Accuracy of logistic regression classifier on test set: 0.93
Logistic Regression AUC: 0.942

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2683]:
df_te1_xmas1.groupby('repurchase').mean()

,price,reliability,service,var,pay_meth,web_func,prod_avail,packaging,condition,ship_time
repurchase,,,,,,,,,,
0,3.107955,2.102273,2.079545,2.522727,3.664773,2.767045,2.806818,2.625000,2.806818,2.267045
1,4.059307,4.487962,4.342337,4.421022,4.502642,4.396359,4.209043,4.226659,4.678215,4.112155

#### Costumers with undelivered orders

In [2684]:
df_te1_xmas2 = one_date_more(df_t1_oct2 , 2020 ,12 ,13)

In [2685]:
repurchase_perc(df_te1_xmas2)

percentage of no repurchase is 58.7356893977103
percentage of repurchase 41.2643106022897

In [2686]:
logreg_fitting(df_te1_xmas2 , False)

Optimization terminated successfully.
         Current function value: 0.552115
         Iterations 6
Summary Of Results
                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.185
Dependent Variable: repurchase       AIC:              2232.3976
Date:               2021-02-04 17:26 BIC:              2271.6353
No. Observations:   2009             Log-Likelihood:   -1109.2
Df Model:           6                LL-Null:          -1361.7
Df Residuals:       2002             LLR p-value:      6.9450e-106
Converged:          1.0000           Scale:            1.0000
No. Iterations:     6.0000
-------------------------------------------------------------------
                Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
-------------------------------------------------------------------
price          -0.2772    0.0658  -4.2141  0.0000  -0.4061  -0.1483
reliability     0.8225    0.0720  11.4187  0.0000   0.6813   0.9637
service         0.5549    0.0734   7.5576  0.0000   0.4110   0.6988
var            -0.0381    0.0581  -0.6555  0.5121  -0.1520   0.0758
pay_meth       -0.3917    0.0487  -8.0505  0.0000  -0.4870  -0.2963
web_func       -0.2580    0.0539  -4.7877  0.0000  -0.3636  -0.1524
prod_avail     -0.1024    0.0521  -1.9634  0.0496  -0.2046  -0.0002
==================================================================

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Accuracy of logistic regression classifier on test set: 0.84
Logistic Regression AUC: 0.896

In [2687]:
df_te1_xmas2.groupby('repurchase').mean()

,price,reliability,service,var,pay_meth,web_func,prod_avail
repurchase,,,,,,,
0,2.312712,1.616949,1.599153,2.266949,2.936441,2.668644,2.181356
1,3.509047,3.594692,3.408926,3.624849,4.078408,3.952955,3.493366

### Second Tech Store

### All costumers together

#### Before Quarantine

In [2688]:
df_te2_bq = one_date_less(df_t2_octob, 2020, 11, 7)

In [2689]:
frames = [df_te2_bq, df_t2_july]
df_te2_befq = pd.concat(frames)

In [2690]:
repurchase_perc(df_te2_befq)

percentage of no repurchase is 23.651145602365116
percentage of repurchase 76.34885439763488

In [2691]:
logreg_fitting(df_te2_befq, False)

Optimization terminated successfully.
         Current function value: 0.268741
         Iterations 7
Summary Of Results

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.509
Dependent Variable: repurchase       AIC:              741.2125
Date:               2021-02-04 17:26 BIC:              777.6830
No. Observations:   1353             Log-Likelihood:   -363.61
Df Model:           6                LL-Null:          -740.13
Df Residuals:       1346             LLR p-value:      2.1515e-159
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
-------------------------------------------------------------------
                Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
-------------------------------------------------------------------
pay_meth       -0.6080    0.0977  -6.2208  0.0000  -0.7996  -0.4164
price          -0.4930    0.1250  -3.9430  0.0001  -0.7380  -0.2479
reliability     0.9701    0.1320   7.3488  0.0000   0.7113   1.2288
variety        -0.1042    0.1238  -0.8411  0.4003  -0.3469   0.1386
prod_avail      0.1677    0.0957   1.7530  0.0796  -0.0198   0.3553
service         0.8347    0.1369   6.0965  0.0000   0.5663   1.1030
eshop_func     -0.0746    0.1117  -0.6674  0.5045  -0.2935   0.1444
==================================================================

Accuracy of logistic regression classifier on test set: 0.94
Logistic Regression AUC: 0.976

In [2692]:
df_te2_befq.groupby('repurchase').mean()

,pay_meth,price,reliability,variety,prod_avail,service,eshop_func
repurchase,,,,,,,
0,3.359375,2.715625,1.659375,2.665625,2.115625,1.681250,2.265625
1,4.728945,4.157793,4.492740,4.303001,4.342691,4.400774,4.273959

#### During Quarantine

In [2693]:
df_te2_quar = one_date_more(df_t2_octob, 2020, 11, 6)

In [2694]:
repurchase_perc(df_te2_quar)

percentage of no repurchase is 26.650429432124085
percentage of repurchase 73.34957056787592

In [2695]:
logreg_fitting(df_te2_quar, False)

Optimization terminated successfully.
         Current function value: 0.297038
         Iterations 7
Summary Of Results
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.488
Dependent Variable: repurchase       AIC:              9282.7808
Date:               2021-02-04 17:26 BIC:              9336.3669
No. Observations:   15602            Log-Likelihood:   -4634.4
Df Model:           6                LL-Null:          -9045.3
Df Residuals:       15595            LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
----------------------------------------------------------------
                 Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
----------------------------------------------------------------
pay_meth        -0.6294   0.0292 -21.5407 0.0000 -0.6867 -0.5722
price           -0.5169   0.0339 -15.2534 0.0000 -0.5833 -0.4505
reliability      1.0119   0.0359  28.2032 0.0000  0.9416  1.0822
variety          0.0042   0.0316   0.1322 0.8948 -0.0577  0.0661
prod_avail      -0.0861   0.0306  -2.8135 0.0049 -0.1460 -0.0261
service          0.8244   0.0355  23.2007 0.0000  0.7547  0.8940
eshop_func       0.0857   0.0281   3.0477 0.0023  0.0306  0.1408
================================================================

Accuracy of logistic regression classifier on test set: 0.92
Logistic Regression AUC: 0.966

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2696]:
df_te2_quar.groupby('repurchase').mean()

,pay_meth,price,reliability,variety,prod_avail,service,eshop_func
repurchase,,,,,,,
0,3.376623,2.783550,1.696248,2.587542,2.608947,1.655604,2.257576
1,4.689969,4.151084,4.400559,4.362810,4.373908,4.279972,4.202988

### Separated Customers

#### Quarantine

In [2697]:
df_te2_quar1 = one_date_more(df_t2_oct1, 2020, 11, 6)
df_te2_quar2 = one_date_more(df_t2_oct2, 2020, 11, 6)

#### Costumers with delivered orders

In [2698]:
repurchase_perc(df_te2_quar1)

percentage of no repurchase is 11.621954687648119
percentage of repurchase 88.37804531235189

In [2699]:
logreg_fitting(df_te2_quar1, True)

Optimization terminated successfully.
         Current function value: 0.169471
         Iterations 8
Summary Of Results
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.528
Dependent Variable: repurchase       AIC:              3593.5083
Date:               2021-02-04 17:26 BIC:              3658.8824
No. Observations:   10549            Log-Likelihood:   -1787.8
Df Model:           8                LL-Null:          -3790.5
Df Residuals:       10540            LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     8.0000
----------------------------------------------------------------
                 Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
----------------------------------------------------------------
pay_meth        -0.7085   0.0471 -15.0383 0.0000 -0.8008 -0.6161
reliability      0.7930   0.0522  15.2045 0.0000  0.6908  0.8952
variety          0.1534   0.0466   3.2903 0.0010  0.0620  0.2447
prod_avail      -0.3334   0.0502  -6.6452 0.0000 -0.4318 -0.2351
service          0.7827   0.0500  15.6466 0.0000  0.6847  0.8807
price           -0.5789   0.0522 -11.0800 0.0000 -0.6813 -0.4765
eshop_func       0.0864   0.0417   2.0732 0.0381  0.0047  0.1682
condition        0.3194   0.0401   7.9676 0.0000  0.2409  0.3980
ship_time        0.3348   0.0355   9.4345 0.0000  0.2652  0.4044
================================================================

length of oversampled data is  14926
Count of non-repurchase in oversampled data 7463
Count of repurchases 7463
Proportion of non- repurchase data in oversampled data is  0.5
Proportion of repurchase data in oversampled data is  0.5
Accuracy of logistic regression classifier on test set: 0.95
Logistic Regression AUC: 0.982

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2700]:
df_te2_quar1.groupby('repurchase').mean()

,pay_meth,reliability,variety,prod_avail,service,price,eshop_func,condition,ship_time
repurchase,,,,,,,,,
0,3.646003,2.000000,2.549755,3.082382,1.876835,3.056281,2.565253,2.805873,2.182708
1,4.722621,4.547678,4.443634,4.469377,4.459938,4.202617,4.307305,4.752333,4.317280

#### Costumers with undelivered orders

In [2701]:
repurchase_perc(df_te2_quar2)

percentage of no repurchase is 56.50342285413375
percentage of repurchase 43.49657714586625

In [2702]:
logreg_fitting(df_te2_quar2, False)

Optimization terminated successfully.
         Current function value: 0.536144
         Iterations 6
Summary Of Results
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.217
Dependent Variable: repurchase       AIC:              6122.8280
Date:               2021-02-04 17:26 BIC:              6169.3619
No. Observations:   5697             Log-Likelihood:   -3054.4
Df Model:           6                LL-Null:          -3900.5
Df Residuals:       5690             LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     6.0000
----------------------------------------------------------------
                 Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
----------------------------------------------------------------
pay_meth        -0.4533   0.0336 -13.4873 0.0000 -0.5192 -0.3874
reliability      0.7859   0.0418  18.8114 0.0000  0.7040  0.8677
variety         -0.0834   0.0382  -2.1794 0.0293 -0.1583 -0.0084
prod_avail      -0.0079   0.0344  -0.2295 0.8185 -0.0753  0.0595
service          0.4696   0.0434  10.8221 0.0000  0.3846  0.5547
price           -0.4084   0.0390 -10.4624 0.0000 -0.4849 -0.3319
eshop_func       0.0827   0.0341   2.4219 0.0154  0.0158  0.1496
================================================================

Accuracy of logistic regression classifier on test set: 0.84
Logistic Regression AUC: 0.918

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2703]:
df_te2_quar2.groupby('repurchase').mean()

,pay_meth,reliability,variety,prod_avail,service,price,eshop_func
repurchase,,,,,,,
0,3.265610,1.650823,2.613545,2.461945,1.621622,2.705499,2.189500
1,4.416465,3.709443,3.916061,3.902341,3.467716,3.852704,3.700565

#### Black Friday

#### All costumers together

In [2704]:
df_te2_bf = one_date_more(df_t2_octob, 2020, 11, 26)
df_te2_bf = one_date_less(df_te2_bf, 2020, 12, 15)

In [2705]:
repurchase_perc(df_te2_bf)

percentage of no repurchase is 26.301272355191742
percentage of repurchase 73.69872764480826

In [2706]:
logreg_fitting(df_te2_bf , False)

Optimization terminated successfully.
         Current function value: 0.296753
         Iterations 7
Summary Of Results
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.485
Dependent Variable: repurchase       AIC:              6684.4148
Date:               2021-02-04 17:26 BIC:              6735.7048
No. Observations:   11239            Log-Likelihood:   -3335.2
Df Model:           6                LL-Null:          -6475.7
Df Residuals:       11232            LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
----------------------------------------------------------------
                 Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
----------------------------------------------------------------
pay_meth        -0.6335   0.0343 -18.4677 0.0000 -0.7008 -0.5663
price           -0.4836   0.0395 -12.2300 0.0000 -0.5611 -0.4061
reliability      0.9836   0.0425  23.1572 0.0000  0.9004  1.0669
variety          0.0146   0.0369   0.3964 0.6918 -0.0577  0.0869
prod_avail      -0.1126   0.0359  -3.1347 0.0017 -0.1831 -0.0422
service          0.8430   0.0427  19.7554 0.0000  0.7594  0.9266
eshop_func       0.0967   0.0328   2.9524 0.0032  0.0325  0.1609
================================================================

Accuracy of logistic regression classifier on test set: 0.92
Logistic Regression AUC: 0.973

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2707]:
df_te2_bf.groupby('repurchase').mean()

,pay_meth,price,reliability,variety,prod_avail,service,eshop_func
repurchase,,,,,,,
0,3.393775,2.788904,1.701286,2.580176,2.647158,1.656969,2.250338
1,4.692141,4.148255,4.379693,4.351201,4.362429,4.258119,4.169625

#### Costumers with delivered orders

In [2708]:
df_te2_bf1 = one_date_more(df_t2_oct1, 2020, 11, 26)
df_te2_bf1 = one_date_less(df_te2_bf1, 2020, 12, 15)

df_te2_bf2 = one_date_more(df_t2_oct2, 2020, 11, 26)
df_te2_bf2 = one_date_less(df_te2_bf2, 2020, 12, 15)

In [2709]:
repurchase_perc(df_te2_bf1)

percentage of no repurchase is 10.847412174845804
percentage of repurchase 89.1525878251542

In [2710]:
logreg_fitting(df_te2_bf1, True)

Optimization terminated successfully.
         Current function value: 0.141397
         Iterations 8
Summary Of Results
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.588
Dependent Variable: repurchase       AIC:              2127.0841
Date:               2021-02-04 17:26 BIC:              2189.3375
No. Observations:   7458             Log-Likelihood:   -1054.5
Df Model:           8                LL-Null:          -2560.4
Df Residuals:       7449             LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     8.0000
----------------------------------------------------------------
                 Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
----------------------------------------------------------------
pay_meth        -0.7309   0.0639 -11.4352 0.0000 -0.8562 -0.6057
reliability      1.0876   0.0750  14.5015 0.0000  0.9406  1.2346
variety          0.2563   0.0624   4.1077 0.0000  0.1340  0.3785
prod_avail      -0.2840   0.0679  -4.1815 0.0000 -0.4171 -0.1509
service          0.9611   0.0700  13.7297 0.0000  0.8239  1.0983
price           -0.5705   0.0720  -7.9207 0.0000 -0.7116 -0.4293
eshop_func       0.1267   0.0543   2.3325 0.0197  0.0202  0.2333
condition       -0.0606   0.0541  -1.1202 0.2626 -0.1668  0.0455
ship_time        0.1863   0.0469   3.9760 0.0001  0.0945  0.2781
================================================================

length of oversampled data is  10650
Count of non-repurchase in oversampled data 5325
Count of repurchases 5325
Proportion of non- repurchase data in oversampled data is  0.5
Proportion of repurchase data in oversampled data is  0.5
Accuracy of logistic regression classifier on test set: 0.94

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Logistic Regression AUC: 0.985

In [2711]:
df_te2_bf1.groupby('repurchase').mean()

,pay_meth,reliability,variety,prod_avail,service,price,eshop_func,condition,ship_time
repurchase,,,,,,,,,
0,3.715698,1.868974,2.500618,3.110012,1.741656,3.082818,2.479604,3.002472,2.253399
1,4.741465,4.550459,4.435705,4.466687,4.446985,4.216724,4.285005,4.733795,4.285306

#### Costumers with undelivered orders

In [2712]:
repurchase_perc(df_te2_bf2)

percentage of no repurchase is 55.800970873786405
percentage of repurchase 44.19902912621359

In [2713]:
logreg_fitting(df_te2_bf2 ,False)

Optimization terminated successfully.
         Current function value: 0.529184
         Iterations 6
Summary Of Results
                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.229
Dependent Variable: repurchase       AIC:              4374.4762
Date:               2021-02-04 17:26 BIC:              4418.7415
No. Observations:   4120             Log-Likelihood:   -2180.2
Df Model:           6                LL-Null:          -2828.0
Df Residuals:       4113             LLR p-value:      1.0339e-276
Converged:          1.0000           Scale:            1.0000
No. Iterations:     6.0000
-------------------------------------------------------------------
               Coef.   Std.Err.     z      P>|z|    [0.025   0.975]
-------------------------------------------------------------------
pay_meth      -0.5103    0.0401  -12.7364  0.0000  -0.5889  -0.4318
reliability    0.7312    0.0491   14.9015  0.0000   0.6350   0.8273
variety       -0.0127    0.0459   -0.2774  0.7815  -0.1026   0.0772
prod_avail    -0.0643    0.0406   -1.5829  0.1134  -0.1439   0.0153
service        0.5606    0.0520   10.7783  0.0000   0.4587   0.6625
price         -0.3946    0.0459   -8.6014  0.0000  -0.4845  -0.3047
eshop_func     0.0989    0.0405    2.4410  0.0146   0.0195   0.1782
==================================================================

Accuracy of logistic regression classifier on test set: 0.85
Logistic Regression AUC: 0.930

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2714]:
df_te2_bf2.groupby('repurchase').mean()

,pay_meth,reliability,variety,prod_avail,service,price,eshop_func
repurchase,,,,,,,
0,3.297086,1.671596,2.606351,2.513267,1.624619,2.711179,2.194432
1,4.410214,3.713893,3.951675,3.907743,3.496980,3.835805,3.702910

#### Xmas - Click away

#### All costumers together

In [2715]:
df_te2_xmas = one_date_more(df_t2_octob, 2020, 12, 13)

In [2716]:
repurchase_perc(df_te2_xmas)

percentage of no repurchase is 33.27679782903664
percentage of repurchase 66.72320217096338

In [2717]:
logreg_fitting(df_te2_xmas, False)

Optimization terminated successfully.
         Current function value: 0.358933
         Iterations 7
Summary Of Results
                         Results: Logit
================================================================
Model:              Logit            Pseudo R-squared: 0.436
Dependent Variable: repurchase       AIC:              2130.2665
Date:               2021-02-04 17:26 BIC:              2172.1886
No. Observations:   2948             Log-Likelihood:   -1058.1
Df Model:           6                LL-Null:          -1875.3
Df Residuals:       2941             LLR p-value:      0.0000
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
-----------------------------------------------------------------
              Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
-----------------------------------------------------------------
pay_meth     -0.5820    0.0611  -9.5286  0.0000  -0.7018  -0.4623
price        -0.5246    0.0714  -7.3465  0.0000  -0.6646  -0.3847
reliability   0.9755    0.0734  13.2953  0.0000   0.8317   1.1193
variety      -0.0017    0.0670  -0.0253  0.9798  -0.1331   0.1297
prod_avail   -0.0072    0.0650  -0.1101  0.9124  -0.1345   0.1202
service       0.7007    0.0714   9.8193  0.0000   0.5608   0.8406
eshop_func    0.0407    0.0613   0.6634  0.5070  -0.0795   0.1608
================================================================

Accuracy of logistic regression classifier on test set: 0.92
Logistic Regression AUC: 0.976

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2718]:
df_te2_xmas.groupby('repurchase').mean()

,pay_meth,price,reliability,variety,prod_avail,service,eshop_func
repurchase,,,,,,,
0,3.266055,2.742100,1.686035,2.551478,2.512742,1.636086,2.241590
1,4.664972,4.155567,4.349263,4.327911,4.350788,4.210473,4.265887

#### Costumers with delivered orders

In [2719]:
df_te2_xmas1 = one_date_more(df_t2_oct1, 2020, 12, 13)

In [2720]:
repurchase_perc(df_te2_xmas1)

percentage of no repurchase is 18.42256764536557
percentage of repurchase 81.57743235463442

In [2721]:
logreg_fitting(df_te2_xmas1, True)

Optimization terminated successfully.
         Current function value: 0.246347
         Iterations 7
Summary Of Results
                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.484
Dependent Variable: repurchase       AIC:              873.8100
Date:               2021-02-04 17:26 BIC:              922.9493
No. Observations:   1737             Log-Likelihood:   -427.91
Df Model:           8                LL-Null:          -829.84
Df Residuals:       1728             LLR p-value:      3.0278e-168
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
-------------------------------------------------------------------
                Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
-------------------------------------------------------------------
pay_meth       -0.7159    0.0836  -8.5664  0.0000  -0.8797  -0.5521
reliability     0.3181    0.0817   3.8923  0.0001   0.1579   0.4782
variety         0.0960    0.0776   1.2376  0.2159  -0.0560   0.2480
prod_avail     -0.2632    0.0837  -3.1456  0.0017  -0.4272  -0.0992
service         0.3379    0.0806   4.1924  0.0000   0.1799   0.4958
price          -0.5699    0.0855  -6.6681  0.0000  -0.7374  -0.4024
eshop_func     -0.0458    0.0760  -0.6026  0.5468  -0.1947   0.1031
condition       0.9785    0.0894  10.9473  0.0000   0.8033   1.1537
ship_time       0.5419    0.0728   7.4442  0.0000   0.3992   0.6846
==================================================================

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

length of oversampled data is  2262
Count of non-repurchase in oversampled data 1131
Count of repurchases 1131
Proportion of non- repurchase data in oversampled data is  0.5
Proportion of repurchase data in oversampled data is  0.5
Accuracy of logistic regression classifier on test set: 0.95
Logistic Regression AUC: 0.981

In [2722]:
df_te2_xmas1.groupby('repurchase').mean()

,pay_meth,reliability,variety,prod_avail,service,price,eshop_func,condition,ship_time
repurchase,,,,,,,,,
0,3.400000,2.353125,2.515625,2.909375,2.278125,3.025000,2.753125,2.162500,1.693750
1,4.754411,4.582922,4.472830,4.507410,4.481299,4.265349,4.448130,4.779817,4.216655

#### Costumers with undelivered orders

In [2723]:
df_te2_xmas2 = one_date_more(df_t2_oct2 , 2020, 12, 13)

In [2724]:
repurchase_perc(df_te2_xmas2)

percentage of no repurchase is 56.49122807017544
percentage of repurchase 43.50877192982456

In [2725]:
logreg_fitting(df_te2_xmas2 , False)

Optimization terminated successfully.
         Current function value: 0.532314
         Iterations 6
Summary Of Results
                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.223
Dependent Variable: repurchase       AIC:              1531.0950
Date:               2021-02-04 17:26 BIC:              1567.9285
No. Observations:   1425             Log-Likelihood:   -758.55
Df Model:           6                LL-Null:          -975.69
Df Residuals:       1418             LLR p-value:      1.1798e-90
Converged:          1.0000           Scale:            1.0000
No. Iterations:     6.0000
------------------------------------------------------------------
               Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
------------------------------------------------------------------
pay_meth      -0.3891    0.0695  -5.5959  0.0000  -0.5254  -0.2528
reliability    0.9770    0.0866  11.2781  0.0000   0.8072   1.1468
variety       -0.2888    0.0770  -3.7521  0.0002  -0.4396  -0.1379
prod_avail     0.0067    0.0735   0.0912  0.9273  -0.1374   0.1508
service        0.2978    0.0839   3.5489  0.0004   0.1333   0.4622
price         -0.3996    0.0814  -4.9100  0.0000  -0.5591  -0.2401
eshop_func     0.1694    0.0714   2.3746  0.0176   0.0296   0.3093
=================================================================

Accuracy of logistic regression classifier on test set: 0.87
Logistic Regression AUC: 0.923

C:\Users\Pigi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [2726]:
df_te2_xmas2.groupby('repurchase').mean()

,pay_meth,reliability,variety,prod_avail,service,price,eshop_func
repurchase,,,,,,,
0,3.195031,1.638509,2.603727,2.443478,1.624845,2.691925,2.170186
1,4.440323,3.751613,3.812903,3.916129,3.430645,3.909677,3.750000